//loader
script(type='text/ng-template' id="loader")
  .loader
    .inner-wrapper
      .inner.one       
      .inner.two    
      .inner.three   
    span(ng-show="name") Loading {{name}}

//custom select
script(type='text/ng-template' id="customSelect")
  .select
    .btn.btn-default.select-ui
      span {{model}}
      i.fa.fa-caret-down  
    ul.select-menu
      li(ng-repeat="item in items" ng-class="{selected:isSelected(item)}" ng-click="select(item)").menu-item {{item}}