#menu
  ul
    ol 
      a(href='/admin/dashboard') Dashboard
    ol
      a(href='/admin/posts') Posts   
    ol
      a(href='/admin/post/new') Add New Post    
    ol
      a(href='/admin/categories') Categories
    ol
      a(href='/admin/category/new') New   Categories
    ol
      a(href='/admin/comments') Comments
    ol
      a(href='/admin/logout') Log Out