.row
  .col-lg-3.col-xs-3.footer-logo
    a(href="/")
      img(src="")
  .col-lg-6.col-xs-6

    .useful-links
      ul.menu
        li
          a(href='/blog') Blog
        li
          a(href='/terms') Terms & Condition
        li
          a(href='/privacy') Privacy Policy
    .footer-legal
      | Copyright &copy; 2015 PugSquad.com, All Rights Reserved
  .col-lg-3.col-xs-3
    .footer-social
      span Follow us on
      ul.social-follows
        li
          a(href="https://www.facebook.com/designedforresult")
            i.fa.fa-facebook-square.fa-2x     
        li
          a(href="https://twitter.com/dfr_007")
            i.fa.fa-twitter-square.fa-2x
        li
          a(href="https://www.linkedin.com/company/designed-for-results")
            i.fa.fa-linkedin-square.fa-2x
        li
          a(href="https://plus.google.com/u/0/b/116414978174330915452/+Designedforresultdfr/posts")
            i.fa.fa-google-plus-square.fa-2x