//loader
script(type='text/ng-template' id="loader")
  .loader
    .inner-wrapper
      .inner.one       
      .inner.two    
      .inner.three   
    span(ng-show="name") Loading {{name}}

//custom select
script(type='text/ng-template' id="CustomSelect")
  .select(ng-class="{active:opened}" ng-click="toggle()")
    .btn.btn-default.select-ui
      span {{currentItem || itemName(items[0])}}
      i.fa.fa-caret-down  
    ul.select-menu
      li(ng-repeat="item in items" ng-class="{selected:isSelected(item)}" ng-click="select(item, $event)").menu-item {{itemName(item)}}

//Date Picker
script(type='text/ng-template' id="DatePicker")
  .datepicker
    div(ng-show="!inline")
      input(readonly)
      i.fa.fa-calendar

//CKEditor
script(type='text/ng-template' id="CKEditor")
  textarea

//Context Menu
script(type='text/ng-template' id="ContextMenu")
  .context-menu-wrapper(ng-style="setPosition()" ng-class="{opened:opened}")
    .context-menu.box.has-shadow(ng-transclude)