//loader
script(type='text/ng-template' id="loader")
  .loader
    .inner-wrapper
      .inner.one       
      .inner.two    
      .inner.three   
    span(ng-show="name") Loading {{name}}

//custom select
script(type='text/ng-template' id="CustomSelect")
  .select
    .btn.btn-default.select-ui
      span {{currentItem || itemName(items[0])}}
      i.fa.fa-caret-down  
    ul.select-menu
      li(ng-repeat="item in items" ng-class="{selected:isSelected(item)}" ng-click="select(item)").menu-item {{itemName(item)}}

//line chart
script(type='text/ng-template' id="LineChart")
  canvas(width="1032" height="432")

//Date Picker
script(type='text/ng-template' id="DatePicker")
  .datepicker
    input(type="text" readonly)
    i.fa.fa-calendar

//CKEditor
script(type='text/ng-template' id="CKEditor")
  textarea