extends ../layout
block css
  link(rel='stylesheet', href='/css/manager.css')

block content
  #builder
    .page.block
      header

      p #{survey.campaign_name}
        .eee(style="padding: 50px;")
          .question
            label Your Question
            textarea.form-control(type='text', name='comments[content]', rows='2')
          .hint
            label A Supporting Hint(Optional)
            input.form-control(type='text', name='comments[hint]', rows='1')
          .answer-types
            .sub-headline Select Question Type
            .answer-type.btn-wg.selected Multiple Choice     
            .answer-type.btn-wg Short Answer          
            .answer-type.btn-wg Long Answer 
            .answer-type.btn-wg Yes/No
            .answer-type.btn-wg Matrix
          .answers
            .row
              .l-able.col-sm-2 Answer
              .col-sm-10
                label.form-control(for='sf')
                  input(type='text' name='answers' id="sf" placeholder="Enter an answer")
                  .input-btn Add Answer
            .row
              .col-sm-offset-2.col-sm-10
                label.hcb(for="checkbox-b1a3")
                  input(type='checkbox' id="checkbox-b1a3")
                  span.cb
                  | Allow Multiple Answers
            .a-list
block script
  script(src='/js/manager.js')
