extends ../layout

block content
  #newpost
    form(action='/admin/category/create' method='post')
      .form-group
        label Category Name
        input.form-control(type='text', name='category') 

      .form-group
        input.form-control(type='submit', value='Create Category' style="margin-left: 50%; width: 50%; background-color: #555; color: #FFF;")

