doctype html
head
  meta(charset="")
  meta(name='viewport', content='width=device-width')
  title= title
  link(rel='profile', href='http://gmpg.org/xfn/11')
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
  //if lt IE 9 <script src="/js/html5.js"></script>

  // css
  link(rel='stylesheet', href='/css/ie.css')
  link(rel='stylesheet', href='/css/ie7.css')
  link(rel='stylesheet', href='/css/error.css')

  //js
  script(src='js/wow.min.js')
  body
    #page-404-1.panda-wrapper.panda-404
      .panda-content.page-404
        header
          .logo-pd-404
            img(src='images/logo-pd-404.png', alt='')       
          .dot     
          .logo-panda
            img(src='images/logo-pd.png', alt='')    
        h2.rs.title-404 oh, it&rsquo;s gone :(  
        p.rs
          | Angry Panda has eaten the page you are looking for,
          | please try one of these instead     
        .panda-bg-arrow 
        #responsivemenu
          .slicknav_menu
            a.slicknav_btn(style='outline: medium none;', href='#', aria-haspopup='true', tabindex='0')
              span.slicknav_menutxt MENU
              span.slicknav_icon
                span.slicknav_icon-bar
                span.slicknav_icon-bar
                span.slicknav_icon-bar
            ul.slicknav_nav.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
              li.current
                a(tabindex='-1', role='menuitem', href='/') home        
              li
                a(tabindex='-1', role='menuitem', href='#') blog      
              li
                a(tabindex='-1', role='menuitem', href='#') contact   
        nav.panda-menu
          ul#menu.rs
            li.current
              a(href='/') home        
            li
              a(href='#') blog    
            li
              a(href='#') contact
