
- var position = (path === '/') ? 'home' : 'about';
#contact(class=position)
  span.title Need more answers? Get in touch.  
  .container
      - if (isMobile)
        // Mobile Contact
        form#contact-form.small-form.input-shadow-box.mobile
          input(name='position', value=position, type='hidden')
          fieldset
            .row
              .col-xs-6.form-group.has-feedback
                input#the-name.name.require-field(name='name', type='text', placeholder='Name')      
                span.glyphicon.hidden.form-control-feedback(aria-hidden='true')
              .col-xs-6.form-group.has-feedback
                input#phone.phone.require-field(name='phone', type='text', placeholder='Phone')        
                span.glyphicon.hidden.form-control-feedback(aria-hidden='true')
            .row
              .col-xs-12.form-group.has-feedback
                input#email.email.require-field(name='email', type='text', value='', placeholder='Email')    
                span.glyphicon.hidden.form-control-feedback(aria-hidden='true')       
            .row
              .submit-button.col-xs-12
                button.btn.btn-round.btn-green
                  | Give me a call 
                  i.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      - else 
        form#contact-form.small-form.input-shadow-box
          input(name='position', value=position, type='hidden')
          fieldset
            .form-group.has-feedback.part
              input#the-name.name.require-field(name='name', type='text', placeholder='Name')
              span.glyphicon.hidden.form-control-feedback(aria-hidden='true')
            .form-group.has-feedback.part
              input#email.email.require-field(name='email', type='text', value='', placeholder='Email')    
              span.glyphicon.hidden.form-control-feedback(aria-hidden='true')     
            .form-group.has-feedback.part
              input#phone.phone.require-field(name='phone', type='text', placeholder='Phone')      
              span.glyphicon.hidden.form-control-feedback(aria-hidden='true')
            .submit-button.part
              button.btn.btn-round.btn-green
                | Give me a call 
                i.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      .contact-form-loader
        .s S
        .e E
        .n-one N
        .d D     
        .i I      
        .n N      
        .g G