footer
  .top-footer
    .container
      - if (isMobile)
        include ./shared/footer-mobile.jade
      - else
        include ./shared/footer-desktop.jade
        
#poptin.modal.fade(data-pon= (post && post.popon != undefined && post.popon) ? '#{post.popon}' : '')
  .modal-dialog
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
      .modal-body
        - if (post && post.popoptin != '' && post.popoptin != undefined)
          | !{post.poptin}
        - else
          .step1.active
            .row.mbm
              .col-lg-8.col-md-8.col-xs-12
                .presents 
                  span Designed For Result Presents
                p.optin-title
                  span.sm.lspace-1 How To Tell If A Website 
                  span.md.lspace-4 Is Right For Your 
                  span.xl Small Business
                p.optin-description
                  | Follow a 5 Steps Question to Determine if a Website Will Benefit Your Business!
              .col-lg-4.col-md-4.col-xs-12.optin-image
                img(src="/images/ebookcoverflat.png")
            hr
            .optin-buttons
              a.btn.btn-poptin.btn-yes(href="/lp/guide")
                | Yes
                br
                span I want FREE website planner
              .btn.btn-poptin.btn-no(data-dismiss='modal', aria-label='Close')
                | No
                br
                span I will do it myself
