footer
  .top-footer
    .container
      .col-lg-3.col-xs-6.footer-logo
        a(href="/") DESIGNED FOR RESULT  
      .col-lg-4.col-xs-6.footer-legal
        | &copy; 2015 
        a(href='/') Designed For Result
      .col-lg-5.col-xs-12.useful-links
        ul.menu
          li
            a(href='/blog') Blog
          li
            a(href='/terms') Terms & Condition
          li
            a(href='/privacy') Privacy Policy
#poptin.modal.fade(data-pon= (post && post.popon != undefined && post.popon) ? '#{post.popon}' : '')
  .modal-dialog
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')

      - if (post && post.popoptin != '' && post.popoptin != undefined)
        .popoptin
          | !{post.poptin}
      - else
        p.optin-title
          | How To Tell If A Website Is Right For Your Small Business
        p.optin-description
          | Follow a 5 Steps Question to Determine if a Website Will Benefit Your Business!
        a.btn.btn-optin(href="/lp/guide")
          | Download This Guide

