footer
  .top-footer
    .container
      .col-lg-3.footer-logo
        a(href="/") DESIGNED FOR RESULT  
      .col-lg-4.footer-legal
        | &copy; 2015 
        a(href='/') Designed For Result
      .col-lg-5.col-xs-12.useful-links
        ul.menu
          li
            a(href='/blog') Blog
          li
            a(href='/terms') Terms & Condition
          li
            a(href='/privacy') Privacy Policy
