footer#footer
  .top-footer
    .container
      - if (isMobile)
        include ./shared/footer-mobile.jade
      - else
        include ./shared/footer-desktop.jade
        
#poptin.modal.fade()
  .modal-dialog
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
      .modal-body
