header
  nav.navbar
    .container
      a.navbar-brand(href="/")
        img(src="https://s3.amazonaws.com/elasticbeanstalk-us-east-1-908221110946/assets/statics/logo.png")
      button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navMenu")
        | &#9776;
      .collapse.navbar-toggleable-sm#navMenu
        ul.nav.navbar-nav.pull-left         
          li.nav-item(class=isActive(path, '/tool'))
            a(href='/pricing') Pricing               
          li.nav-item(class=isActive(path, '/blog'))
            a(href='/blog') Blog               
        ul.nav.navbar-nav.pull-right.nav-right
          - if (user)
            li.nav-item.user-box
              .user-icon(style=(user.profile.avatar) ? 'background-image: url("#{user.profile.avatar.url}")' : "")
              span.username
                | #{user.username}
            li.nav-item.notification
              i.fa.fa-bell
            li.nav-item.logout
              a(href='/account/logout') 
                i.fa.fa-power-off
                | Logout    
          - else 
            li.nav-item
              a(href='/account/register').btn.btn-account Create an Free Account         
            li.nav-item
              a(href='/account/login') Log In
