extends ./layout

block content
  article#home
    .content.container
      h1 Is your Website Fully Optimized for Ranking?
      span.subtitle 
        | You may have the best contents. But slow and under Optimized websites can really hurt you. Find out if you site needs help, enter your URL and Analyze with Google.
      .analyzer  
        form#speedtest(method="post" action="/speedtest/report")
          input.website-url.require-field(name="url" placeholder="Enter your website URL" autofocus data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Awwww!!!@!#")
          button Analyze