
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(href='//fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //if lt IE 9 <script src="/js/html5.js"></script>

    // css
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/ie.css')
    link(rel='stylesheet', href='/css/ie7.css')
    link(rel='stylesheet', href='/css/style.css')
    style.
      article { 
        padding: 150px 0; 
      }
      .logo {
        width: 80px; 
        margin-bottom: 30px;
      }
      .logo img {
        width: 100%;
      }
      form {
        padding: 0 70px;
      }

      form label {
        font-size: 15px;
      }

      form .form-control,
      form .btn {
        border-radius: 2px;
      }
      form .btn-login {
        width: 50%;
        padding: 12px 0;
        background-color: #5A5A5A;
        color: #FFF;
        font-weight: 500;
        border: 1px solid #343434;
      }

      form .btn-login:hover { 
        background-color: #404040;
        color: #FFF;
      }

      article footer {
        font-size: 17px;
        padding: 20px 0;
        text-align: center;
      }

      article footer a { 
        margin: 0 10px;
        color: #2c9ab7;
        text-decoration: underline;
      }
  body


    .container

      .row
        article.col-lg-offset-3.col-lg-6
  
          .logo.center-block
            img( src='/images/logo_orange.png')
          .text-danger
            - if (message)

              p= message
          form(action='/login', method='post')
            .form-group
              label Username
              input.form-control(type='text', name='username' autocorrect="off" autocapitalize="off" autofocus='autofocus')
            .form-group
              label Password
              input.form-control(type='password', name='password' )
            .form-group
              button.btn.btn-login Log In
          footer
            a(href="#") Create an Account
            | ·
            a(href="#") Forgot my Password
  include ./footer.jade