.step1.active
  .row.mbm
    .col-lg-8
      .presents 
        span Designed For Result Presents
      p.optin-title
        span.sm.lspace-1 How To Tell If A Website 
        span.md.lspace-4 Is Right For Your 
        span.xl Small Business
      p.optin-description
        | Follow a 5 Steps Question to Determine if a Website Will Benefit Your Business!
    .col-lg-4.optin-image
      img(src="/images/ebookcoverflat.png")
  hr
  .optin-buttons
    .btn.btn-poptin.btn-yes
      | Yes
      br
      span I want FREE website planner
    .btn.btn-poptin.btn-no(data-dismiss='modal', aria-label='Close')
      | No
      br
      span I will do it myself


.step2
  .progress-bar
    span.bar-text 50% Completed
    .bar 

  span.notice
    | (enter your email address below and click the “Get Instant Access!” button)
  .optin-title
    | YES, I want FREE Website Planner!

  form.optins.form-horizonta(action='/subscribe' method='post') 
    .form-group.clearfix
      input#inputEmail3.form-control(type='text', name="name", placeholder='Name*')      
    .form-group
      input#inputPassword3.form-control(type='email', name="email", placeholder='Email*')  
    .form-group
      button.btn.btn-optin(type='submit') Get Instant Access!
  p.privacy 
    i.fa.fa-lock
    |  We value your privacy and would never spam you
  p(style="font-size:12px;") By signing up you'll also receive access to the "Designed for Result" bi-weekly newsletter, exclusive offers, event information and helpful tips. View Designed for Result's 
    a(href="/privacy-policy") Privacy Policy 