extends ./layout

block content
  section.banner
    .banner-bg()
      .banner-text
        h1 Pug Squad Pricing
        p.subtitle
  #pricing
    .row
      .col-md-6.col-md-offset-3.clearfix
        .paid-plans-wrapper
          .paid-plans.top
            article.plan
              header.plan-header.light-blue-bg
                span.uppercase.plan-name Baby Pug
                h3
                  sup Free
                .plan-explain
                  span.text Forever Free, 500 responses Then pay as you go.
              .features
                ul
                  li.plan-views
                    b 500 responses
                  li
                    b Unlimited questions
                  li
                    b Remove Pug Squad Footer logo
                  li Get responses via web, social or email
                  li Real time results
                  li Add your logo
                  li 13 essential question types
                  li Matrix questions
                  li Collect contact information
                  li Rating questions
                  li Text analysis
                  li Generate custom charts & reports
                  li Progress bar
                  li Data ownership
                  li Display a "thank you" page
                  li SSL/TLS encryption 
                  li Email support
               
            article.plan.big
              header.plan-header.med-blue-bg
                span.uppercase.plan-name Dax Pug
                h3
                  sup $
                  | 87
                span.plan-per-month per 3 month
                .plan-explain
                  span.text $29 per month
              .features
                ul
                  li.plan-views
                    b Unlimited responses
                  li
                    b Unlimited questions                  
                  li
                    b Add your logo                  
                  li
                    b VIP Email support(Within 1 Hour)                  
                  li
                    b Remove Pug Squad Footer logo
                  li Get responses via web, social or email
                  li Real time results
                  li Collect contact information
                  li 8 essential question types
                  li Matrix questions
                  li Rating questions
                  li Text analysis
                  li Generate custom charts & reports
                  li Progress bar
                  li Data ownership
                  li Display a "thank you" page
                  li SSL/TLS encryption 
          
            article.plan
              header.plan-header.light-blue-bg
                span.uppercase.plan-name Bubby Pug
                h3
                  sup $
                  | 150
                span.plan-per-month per 6 month
                .plan-explain
                  span.text $25 per month
              .features
                ul
                  li.plan-views
                    b Unlimited responses
                  li
                    b Unlimited questions                  
                  li
                    b Add your logo                  
                  li
                    b VIP Email support(Within 1 Hour)
                  li
                    b Remove Pug Squad Footer logo
                  li Get responses via web, social or email
                  li Real time results
                  li Collect contact information
                  li 8 essential question types
                  li Matrix questions
                  li Rating questions
                  li Text analysis
                  li Generate custom charts & reports
                  li Progress bar
                  li Data ownership
                  li Display a "thank you" page
                  li SSL/TLS encryption 
              
            article.plan
              header.plan-header.light-blue-bg
                span.uppercase.plan-name Fatty Pug
                h3
                  sup $
                  | 240
                span.plan-per-month per 1 year
                .plan-explain
                  span.text 20 per month 
              .features
                ul
                  li.plan-views
                    b Unlimited responses
                  li
                    b Unlimited questions                  
                  li
                    b Add your logo                  
                  li
                    b VIP Email support(Within 1 Hour)
                  li
                    b Remove Pug Squad Footer logo
                  li Get responses via web, social or email
                  li Real time results
                  li Collect contact information
                  li 8 essential question types
                  li Matrix questions
                  li Rating questions
                  li Text analysis
                  li Generate custom charts & reports
                  li Progress bar
                  li Data ownership
                  li Display a "thank you" page
                  li SSL/TLS encryption 

          .plan-in-dev
            p
              b In Development &amp; Coming soon
          .paid-plans.bottom
            article.plan
              ul
                li Print reports
                li Image Questions Type
                li Export data & reports
                li Custom Survey URL 
                li Question & page skip logic 
                li 1000+ pre-written question library
                li Complete survey templates

