extends ./layout

block content
  article#legal.container
    h1 Terms and Conditions
    section
      p Big Talk Consulting Group provides Designedforresult.com and its related services (”Service”) subject to your compliance with the terms and conditions (”Terms of Service”) set forth below. Please read the following carefully.
      p Big Talk Consulting Group reserves the right to update and modify the Terms of Service at any time without notice.
      p New features that may be added to the Service shall be subject to the Terms of Service. Should you continue to use the Service after any such modifications have been made, this shall constitute your agreement to such modifications. You may always view the most recent copy of the Terms of Service on the Designed For Result web site: http://designedforresult.com/
    section
      h2 Payment and Services For Wire-Frames
      p We will charge one time fee based on the number of pages you request to be Wire-Framed. Should you choose to have the Wire-Frames printed and shipped to you, an additional shipping and handling fee will be charged one time. The shipping and handling fee is not refundable.
    section
      h2 Modifications to the Service and Fees 
      p Big Talk Consulting Group reserves the right to modify, suspend, or discontinue the Service at any time for any reason with or without notice.
      p Big Talk Consulting Group reserves the right to change our billing rates upon 30 days notice from us. Fee change notices may be posted to the Service or on the Designed For Result web site: http://designedforresult.com/.
    section
      h2 Returns & Subscription Cancellations
      ul
        li 100% money back guarantee covers price of product only. 100% money back guarantee does not cover shipping and handling fee due to the fact that the customer made the decision to try product, therefore the customer accepts to pay the fee to ship the product.
        li Customers must contact our support department for a RMA (Return Authorization Number). This number must be displayed on the outside of all return packages. Returned packages without RMA numbers will not be accepted.
        li Once a return is received or valid refund request submitted, the refund process will take no more than 30 days. All refunds will be either returned to the original credit card OR- mailed in check form to the billing name and address. International orders that will be refunded back to the original credit card, and PayPal orders will be credited back to the PayPal account.
        li You have THIRTY (30) Days from the date of the original purchase to return the product to receive your refund. Any return received after the THIRTY (30) DAYs time limit will not be processed.
        li All services are non-refundable.
    section
      h2 Copyright and Ownership
      ol
        li Big Talk Consulting Group or Designedforresult.com own the intellectual property rights to any and all protectable components of the Service, including but not limited to the name of the Service, artwork and end-user interface elements contained within the Service, many of the individual features, and the related documentation. You may not copy, modify, adapt, reproduce, distribute, reverse engineer, decompile, or dissemble any aspect of the Service which Big Talk Consulting Group or Designedforresult.com.
        li Data provided by the Service remains the sole property of Big Talk Consulting Group or Designedforresult.com.
        li Big Talk Consulting Group or Designedforresult.com claims no intellectual property rights over the Content you upload or provide to the Service. However, by using the Service you agree that others may view your Content and that Big Talk Consulting Group or Designedforresult.com may republish your Content for its own promotional purposes.
    section
      h2 General Conditions
      ol
        li Your use of the Service, including any content, information or functionality contained within it, is provided “as is” and “as available” with no representations or warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. You assume total responsibility and risk for your use of this Service.
        li You agree not to resell, duplicate, reproduce or exploit any part of the Service without the express written permission of Big Talk Consulting Group or Designedforresult.com.
        li Big Talk Consulting Group or Designedforresult.com makes no warranties regarding (i) your ability to use the Service, (ii) your satisfaction with the Service, (iii) that the Service will be available at all times, uninterrupted, and error-free (iv), the accuracy of mathematical calculations performed by the Service, and (v) that bugs or errors in the Service will be corrected.
        li Big Talk Consulting Group, Designedforresult.com, its partners, affiliates and its sponsors are neither responsible nor liable for any direct, indirect, incidental, consequential, special, exemplary, punitive or other damages arising out of or relating in any way to your use of the Service. Your sole remedy for dissatisfaction with the Service is to stop using the Service.
        li If any provision of the Terms of Service is held invalid or otherwise unenforceable, the enforceability of the remaining provisions shall not be impaired thereby.
        li The failure of Big Talk Consulting Group or Designedforresult.com to exercise any right provided for herein shall not be deemed a waiver of any right hereunder. The Terms of Service sets forth the entire understanding between you and Big Talk Consulting Group or Designedforresult.com as to the Service and supercedes any prior agreements between you and Big Talk Consulting Group or Designedforresult.com (including, but not limited to, prior versions of the Terms of Service).
        li Any questions regarding the Terms of Service should be addressed to support@designedforresult.com.
    section
      h2 Customer Service
      p If you have questions or comments regarding Infomastery, LLC products, please email us at support@designedforresult.com.