extends ./layout

block content
  #single
    .container
      .single-header
        -if (post)
          img.post-di(src="#{post.display_image}")
      -if (post)

        #social.share-wrapper(data-url='https://designedforresult.com/blog/#{post.url}' style='')
          ul.post-share
            li.facebook.share()
              i.social-icon.fa.fa-facebook
              .count 0
            li.twitter.share(data-handle='designedforresult')
              i.social-icon.fa.fa-twitter
              .count 0
            li.linkedin.share()
              i.social-icon.fa.fa-linkedin
              .count 0

      .main-content-wrapper
        .post-title
          h1 TEST HEADING
          .post-meta
            .pull-left
              .post-category
                | TEST
            .pull-right
              span By: 
                span.arthur STEVE
                | on  
              span.date
                | 24/24/24
          .clearfix
        .post-content
     