extends ./layout

block content
  #single
    .container
      .single-header
        -if (post)
          img.post-di(src="#{post.display_image}")
      -if (post)

        #social.share-wrapper(data-url='https://designedforresult.com/blog/#{post.url}' style='')
          ul.post-share
            li.facebook.share()
              i.social-icon.fa.fa-facebook
              .count 0
            li.twitter.share(data-handle='designedforresult')
              i.social-icon.fa.fa-twitter
              .count 0
            li.linkedin.share()
              i.social-icon.fa.fa-linkedin
              .count 0

      .main-content-wrapper
        .post-title
          h1 TEST HEADING
          .post-meta
            .pull-left
              .post-category
                | TEST
            .pull-right
              span By: 
                span.arthur STEVE
                | on  
              span.date
                | 24/24/24
          .clearfix
        .post-content
          p Last time we check there are about 1 billion websites live on the internet right now as you're reading this article.
          p That's right... 1 Billionnnnnnnnn. That's a 1 with 9 zeros  behind it. That is roughly the equivalent of the population of both United States and Europe combined.
          p But what does this mean for you and your website as a business or a small business owner? 
          p Well... as users see more and more websites, their expectation of what is acceptable has gone through the roof. Users expect your business website to be insanely fast. They expect it to works on with all mobile and screen sizes, and look great. 
            | They expect it to look great and have great user experiences...
          p Rand Fishkin from 
            a(href="https://moz.com/") Moz
            |  said it best “For many businesses, a Web site is the first way that your clientele will look at you–even if it’s just to find your address and phone number,” and 
            | “The quality of your site is often a measure of the quality of your business.” 
          p These days... just having a business website is just not "good enough", you must have a insanely great website. 
          p But don't panic just yet, we are going to show you a 21-steps plan to raise your business website design to the next level.
          hr.divider2
          section
            h2 Step #1: Set Objectives
            p How does the website fit into my business?
            p What benefits will the website add to my business?  
            p What benefits will the website add to my customers/clients?  
            p Do I plan to sell your product or services online? 
            p These are the questions you should ask yourself before committing to building and operating a website. 
              | If you don't know the answers to any of these questions right now, my advices is get thinking or don't waste your money.
              | In fact this first step is so important I dedicated this entire site to get the point across.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/cartoon6125.png")
            p To help you out, here are some of the most common objectives that our clients have when designing their websites:

            ul
              li 
                span.sblue Creating a website for existing customers - 
                | Many of our small business clients simply want to create a website to provide more information to their existing customers.
              li 
                span.sblue Get more leads, clients, or customers - 
                | Professional firms such as law firms and doctors would like to generate more leads.
              li 
                span.sblue Sell their products online - 
                | Many businesses would like to sell their products online to a broader audience, or make it easier for their existing customers to buy from them again.
              li 
                span.sblue Show their portfolio - 
                | Many graphics artists and photographer may simply want a website to show their portfolio. 
              li 
                span.sblue Website as a sales tool - 
                | Many real estate agents may only want use their website as a sales tool during showings.
          hr.divider2
          section
            h2 Step #2: Set a Budget 
            p A quality website is like great piece of art. It is never really finished, and it is never really perfect.        
              | Odds are you're not going to create your perfect website the first try. You'll want to update it, change it, upgrade it and edit it.
            P And with the average cost of developing a website staying realitvely consistent in the last 2 decades, most small businesses can except to pay any where from $2,000 to $10,000 for a website right now.
              | So, as a small business owner you want to set a budget to ensure that you don't over spent. 
            P Just make sure your budget is realistic, you do not want a cheap website that is going to cost you thousands later to change.
              | That's like buying a second hand car for $500 only to find out you'll need to spent another $3000 more just to fix it up.
          hr.divider2
          section
            h2 Step #3: Who are the Audiences of your Website. 
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/webdesignaudiance.png" alt="design for right audiance")  
            p There isn't one site for everyone, just like there isn't an one size fits all shoe. 
              | The design for a video gaming site such as the "World of Warcraft" site will have a lot more colors and theme specific graphics than a website designed for a local law firm.
            p Who are the viewers or audiences of your website once it is finished?
            p Are they elderly who has a hard time reading small font size?
            p Is it mostly going to be female visitors on your site? For example: Pinterest has 68% female audience, because all their contents are pictures. 
            p What do your audience like? 
            p What do your audience want to know?
            p A good way to get some answers is to ask your existing customers. Ask them why they buy from you or do business with you. 
              | What would they like to learn, etc...
          hr.divider2
          section
            h2 Step #4: Design Your Core Pages.   
            p Core pages are the pages that are must haves of your website. There is no rules on how many core pages a website should have but most business websites have at least 4. Home, About Us, Contact Us, and Our Services or Products.
            p
              span.sblue The Home Page
            p Homepage is going to be the one of most important page for your small business website.
              | In my opinion the purpose of your homepage is to connect and tell your audiences what your company can do for them.
              | For example: if you visit Apples website their homepage is almost always a huge HD pictures of their current hottest products and nothing else.
              | That is because Apple is all about the next hot product and their home page demonstrates exactly that.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/apple_home.png" alt="Business Homepage Design")  
            p
              | There are many ways to structure your homepage, some business uses videos, some has lots of pictures, and some business uses their blog as their homepage.
              | But as a good rule to follow for the homepage is to keep it simple. The best homepages we have seen are not jam-packed with informations.
              | Think about how you're going to layout your homepage. What content and information do you want to show your audience.
            p
              span.sblue The About Page
              | - Most companies get the about page wrong. They either spent very little effort on the page, or they brag about their accomplishment and sell their services. 
            p No body cares!!! The traditional about pages are boring, and no one wants to read them.
            p In my opinion the about page of your small business website should tell stories and make connections. Tell them about your story. 
              | Why did you start your business. What does your business stand for. What activities do you and your team enjoy off the job? 
              | Make it interesting, and different. Moz.com has a great about page that shows all the important events of the company from beginning till now.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/moz_about.png" alt="Business Aboutpage Design")  
            p
              span.sblue The Products and Services Page
              | This one may vary drastically from one business to another business, and we have no tips or guide lines that we can tell you about your products and services page. 
              | You may even name this page differently depending on your industry. For example: a law firm may have "Areas of Practices" as their services page.
            p  
              span.sblue The Contact Page
              | - The contact page should be simple and straight to the point. It should contain your contact informations and a simple contact form for them to submit.
              | The contact form should only ask for the information you require to contact them back and nothing more. 
            p A simple Name, Email, Phone Number and Comment form are the best. If you have local office and you want people to visit you should include a embed Google map.
          hr.divider2
          section
            h2 Step #5: Choose a Color Scheme.   
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/Color-Schemes1.gif" alt="Website design color scheme")
            p
              | Colors speaks. Having the right color scheme for your website is important. It puts your viewers at the right mood to either leave your site or buy something.
              | There are many books written on colors and how colors can effect emotions.
              | A good book to read is 
              a(href="http://www.amazon.com/Pantones-Guide-Communicating-Leatrice-Eisemann/dp/B004J8HX5E") Pantone Guide to Communicating with Color
              |  by Leatrice Eisemann.
            p
              | While there are many guide lines you can follow when it comes to choosing a color scheme for your website.
              | There is no right or wrong choices. And that is because every person will experience colors slightly different from cultures to cultures.
              | Just start with two main colors that you believe speaks for your brand and then use tools such as 
              a(href="https://color.adobe.com/") Adobe Kuler
              |  to figure out your color scheme. Kuler also has a huge collection of premade color scheme that you can choose from as well.
          hr.divider2
          section
            h2 Step #6: Images and Placement.
            p
              | Images are a vital part of any website. The old saying "A picture is worth a thousand words" is extremely true when it comes to website design.
              | People are visual, they like to look at images and watch videos.
              | Studies has shown that 90% of all information are process as visual to our brain. And 40% of people respond better to visual information than plain text.
            p
              | From our experience business websites that uses real photos and images usually performs better than websites that uses stock images.
              | When we use the words "real", we mean taking actual photos of people in your businesses.
              | If you have it in your budget we highly recommend hiring a good photographer, but if you don't have it in your budget then use your phone and snap away.
              | Just don't rush this step and use any random stock images you can get your hand on.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/realimages.jpg" alt="web design use real photos")  
          hr.divider2
          section
            h2 Step #7: Horizontal or Vertical Navigation. 
            p What most people don't know is that a little more than a decade ago Vertical Navigation bar was far more popular than Horizontal Navigation bars. Web design was easy. There were no dropdowns menus, depth or categories for pages. A client would give you 7 to 8 pages and the designer would simply line them up vertically on the home and that was it. 
            p As the world changes and the World Wide Web got more sophisticated,   individual websites also become more complex. Instead of the 8 pages most websites use to have; now websites will easily go over 20 pages of content. Listing every single page in a Vertical Navigation simply wasn't going to cut it. This force web designer to really think deeply about their design and learned to properly architect all the contents in an organized fashion. And in many ways a Horizontal bar was simply better than the traditional Vertical Navigation bar. 
            p Fast track to today... Many professional web designer still argue furiously over wither Horizontal Navigation is better or Vertical Navigation is better. While there great companies who still make very good use of Vertical Navigations such as Walmart and Amazon, it is pretty clear that most websites favorites the Horizontal Navigation bar.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/verthorzi.jpg" alt="vertical vs Horizontal navigation")
            p My person opinion is this: if you have a few pages then both Horizontal and Vertical would work. If you have a lot of pages and content with multiple level of depth then Horizontal with dropdown is more intuitive to users. But if you want to build an ecommerce with a lot of categories and you want the user to be able to visually see all the top categories right away then Vertical or a combination of both would be a great choice.
          hr.divider2
          section
            h2 Step #8: Design your Navigation Flow.
            p
              | For most businesses 4 to 5 core pages and maybe a blog is all they're ever going to need for a website.
              | However, we've worked with companies (Usually Professional firms or Retailers with a lot of products) that have hundreds of pages and dozens of categories.
            p
              | For example: A law firm may want to have a home, about, team, practice area, media, FAQ, blog, careers and many more pages on their navigation.
              | That is 8 different button on their main navigation, and that is a lot. You'll not only run out of room to display every single one of them on your main navigation bar, but it can also be overwhelming to your clients. 
            p
              | A good practice is to plan a head and design a great navigation flow. Amazon does an exceptional job at their navigation flow.
              | If you visit Amazon.com you see button "Shop by Department", then you get a drop down menu of all the categories and sub-categories.
              | It is well organized and intuitive to the their user.
            p
              | A great tool that you can use to visualize your navigation flow is to use a tree diagram. This way you'll know exactly what page links to what and what category each page belongs to.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/naviflow.png" alt="web design navigation flow") 
          hr.divider2
          section
            h2 Step #9: Lead Generation Forms Placement. 
            p Lead generation forms are much like contact forms except, they can be placed in various of spots through out your website. The purpose of a lead generation form is as the name implies, to generate more new leads.
            p This is not require for every business, but most businesses we've worked with do want to generate lead. 
              | The most common use of lead generation is the "News Letter Subscription" form. They're not very good and we do not recommend them but most businesses use them.
            p While we are not going talk about what makes a good lead generation form as it is outside the scope of this article.
              | we will however discusse briefly where to position your lead generation form for maximum results.

            .text-center.sblue Home Page Above the Fold
              img(src="https://s3.amazonaws.com/designforresult/post-default-images/homepageoptin.png" alt="websites homepage optin")
            .text-center.sblue Sidebar Optin
              img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/sidebaroptin.jpg" alt="websites sidebar optin")
            .text-center.sblue Popup Optin
              img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/popupoptin.png" alt="websites popup optin")
            .text-center.sblue Footer Optin
              img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/footeroptin.png" alt="websites footer optin")
              
            h2 Step #10: Make a List of Functionalities your Website Needs.   
            p
              | One of the biggest mistakes business owners makes when creating their website is to add features and functionalities after the website has been completed.
              | As developers we can tell you nothing kills more time and money then a client coming to as and say &quot;oh I want to add this to our website.&quot; one month after we've completed the site.
            p
              | Anytime a new feature is added to the website, we must make sure that it is congruent and that it doesn't introduce new problems to the existing site.
              | All that requires time to implement and test. While it is inevitable for business to make changes to their website as they grow.
              | It is best for business owners to think and plan ahead, this will guranatee to save you money and time.
          hr.divider2
          section
            h2 Step #11: Use Wireframes.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/wireframe.png" alt="webdesign wireframes") 
            p
              | Most websites never go through the mock-up phase, which is very unfortunate. In the website development process Mock-ups are called wireframes. 
              | Wireframes can either be draw by hand or created digitally using applications such as Adobe Photoshop or Illustrator.  
            p
              | Wireframes are usually black and white with no fancy graphics or images. The only real goal of creating wireframes is to architect the Structure
              | and flow of the website and it's content.
            p
              | Using mock-ups or wireframes to plan your website will give you and your website developer a much clearer picture of how the website should look like once completed. As a result there will be less guessing, shorter development period, and more money back into your pocket.
          hr.divider2
          section
            h2 Step #12: Built your Website. 
            p When it come to building your website, there are really only to approach to make it happen. Either you're going to do it yourself or you're going to hire a professional.
             | There are pros and cons to both here is a quick comparison.
            .row
              .col-lg-6.col-xs-6
                span.text-center.sblue Do it Yourself (DIY)
              .col-lg-6.col-xs-6
                span.text-center.sblue Hire a Professional   
            .row
              .col-lg-6.col-xs-6
                strong Pros
                ul
                  li Affordable (Only cause you time).
                  li Design it exactly the way you like.
                  li Make changes anytime.
                strong Cons
                ul
                  li High learning curve.
                  li Limited to template structures.
                  li Limited functionalities.
                  li If you use a website builder you get nothing if cancel.
                  li No custom graphics (Unless you're a graphic designer).
                  li Hard to implement digital marketing strategies. 
                  li Cannot implement A/B testing.
              .col-lg-6.col-xs-6
                strong Pros
                ul
                  li Professional designed for maximum user friendiness.
                  li No generic, fully congruent with your current brand. 
                  li Better designed graphics.
                  li Can implement advance digital marketing strategies.
                  li Can apply A/B testing for every page.
                  li You own the site.
                strong Cons
                ul
                  li Can be expensive.
                  li Can be hard to find the right developers.
                  li Can take a little longer depending who you work with.
                  li Depending on who you hire, you may need to find additional support afterwards.


           
          hr.divider2
          section
            h2 Step #13: Make your Website Mobile Friendly. 
            p With 4 out of 5 consumers using their smart phones to shop online. SMBs who choose to do business online simply cannot affordable to leave their sites unresponsive for mobile usage.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/responsiveadaptive_cobalt.png" alt="responsive businesses web design")
            p To most people the idea of having a &ldquo;Responsive&rdquo; web design means mobile friendly, but what they don't realize is that there are actually two ways to make your site mobile friendly and Responsive is only one of them.
              | Adaptive design is also a process of making your site mobile friendly but it is rarely talked about in the main stream. All Responsive designs can also be considered to be Adaptive but the reverse is not true. Allow me to explain. 
            p Adaptive design is targeted modification of your website to specifically fit for certain screen sizes that you want to target such as iPhone 4, iPhone 5, iPad, Samsung Note 3, etc&mldr; Where as Responsive designs are more fluid with set break points. Another way to understand this is that Responsive design will scale accordingly as the screen size changes but Adaptive will only change to certain amount of specified screen sizes.
            p whether you should use an Adaptive approach or Responsive approach is purely base on the purpose of your site. If you know most of your users are going to use only desktop and say iPhone 5 then using the Adaptive approach will save you a lot of time and money. But chances are it is hard to predict what your users are going to use with dozens of different smart phones and tablets out there. In my opinion in most cases Responsive design is usually the better choice.
          hr.divider2
          section
            h2 Step #14: Create Contents for your Website.
            p
              | Bill Gates famously said &ldquo;content is king&rdquo;, and that is especially true when it comes to building an insanely great website.
              | What most people don't realize is that almost all websites are about 80% content and 20% aesthetics/structure.
            p
              | This is why most website templates falls flat after you purchase it. They look great when you view them as demo but some how your site just doesn't seem to match up.
              | That's because the templates are carefully crafted with the right content to draw attention, and with out those contents the templates are just shapes with color.
            p.sblue Here are 8 ways to delivery content for your website.   
            .row.text-center.mbl 
              .col-lg-3
                i.fa.fa-youtube-play.fa-2x
                br
                | Videos
              .col-lg-3
                i.fa.fa-book.fa-2x
                br
                | Guides
              .col-lg-3
                i.fa.fa-star.fa-2x
                br
                | Reviews
              .col-lg-3 
                i.fa.fa-wordpress.fa-2x
                br
                | Blogging
            .row.text-center
              .col-lg-3
                i.fa.fa-microphone.fa-2x
                br 
                | Pod Casts
              .col-lg-3
                i.fa.fa-suitcase.fa-2x
                br  
                | Case Studies
              .col-lg-3
                i.fa.fa-coffee.fa-2x
                br   
                | Interviews
              .col-lg-3
                i.fa.fa-slideshare.fa-2x
                br   
                | Slides
          hr.divider2
          section
            h2 Step #15: Create Legal Pages for your website. 
            p
              | Legal pages should exist for every website. Disclaimer, Privacy Policy, and Terms of Use. You don't know who is going to use your website, it's better to protect yourself. 
            p
              span.sblue Terms of Use
              | - This page explains what actions a user can and cannot perform while browsing your website. Terms of Use may vary from websites to websites, as many website will have different purpose and content.  A few important item you should in this page are ownership of content on site and submitted by your users, types of allowed and disallowed material in the contents submitted by users, how links should be used on your site, and how any advice provided on your site should be consume by the user.
            p
              span.sblue Disclaimer 
              | - Disclaimers are much like Terms of Use but usually shorter. Disclaimers are usually for site with a lot of submitted content by users such as a forum or a blog (commenting), as well as site with a lot of advisory information. Disclaimer should simply state that most information on your site are not moderated and you and your business should not be held responsible able on how people will use the information. 
            p
              span.sblue Privacy Policy 
              | - This legal page should tell your user how their private informations are collected and used by your website and company. Privacy Policy should contain the use of cookies and trackers, a way for your users to contact you if they want their information removed, and if you work with third party sites you must also disclose if they will be collecting information as well.
          hr.divider2
          section
            h2 Step #16: Register your Domain Name.
            p Whenever you type a domain name such as example.com the browser looks up the associated I.P address or addresses and then uses that I.P address to fetch the files of your website on a server connected to the World Wide Web. 
            p Simple enough right? 
            p Don't worry if you don't quiet get it. All you need to know is that a domain name is simply a unique string of letters that identifies where about is your files for your website is located in this world.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/topleveldomain.jpg" alt="web design top level domain")
            p
              | There are usually 2 parts to any domain name. The Top Level Domain and the Second Level Domain. The top-level domain the &ldquo;com&rdquo; or &ldquo;org&rdquo; or &ldquo;net&rdquo; part of the domain name, and the second-level domain are the names directly to the left of .com, .net, and the other top-level domains.   
            p
              | Now that we understand the difference between the top-level domain and the second-level domain, here are a few suggestions when purchasing your domain name. First domain names with their top-level domain as .com, or .ca are usually going to rank better then .net or. org. 
            p
              | Second, when picking out a name for your second-level domain. Find something that is easy to remember, short, and simple to spell. Try to avoid using hyphens or numbers in your domain name as much as possible.
          hr.divider2
          section
            h2 Step #17: Choose a Hosting Provider.  
            p
              | There are dozens of web hosting companies out that and most of them are affordable. But choose carefully, here are a you should consider when choosing an idea hosting for your website.
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/webhosting.gif" alt="website hosting") 
            p

              span.sblue 1) Will it support your site 
              | - While most of the web hosting provider companies now days will support the most commonly used programming languages for websites,
              |     it is always a good idea to double check. If you have no idea what you technical specs you should look for ask your developer before signing up. 
            p
              span.sblue 2) Type of hosting 
              | - There are 3 types of hosting that most hosting companies will offer.
              |     Shared hosting, Virtual Private hosting, and Dedicated private hosting.
              |     Shared is hosting is the cheapest, that is because your website will be sharing resources with hundreds of other website on the same server.
              |     Hence the name Shared hosting. 
            p Virtual Private hosting is the most idea for smaller businesses.
              |     Unlike Share hosting, Virtual Private hosting allocates a specific amount of resources from a physical server in a virtual environment just for your website.
              |     Dedicated private hosting is the most expensive, but you get your own physical server and 100% of the resources all to yourself.
              |     Ideal for larger websites with huge traffic. 
            img.center-block(src="https://s3.amazonaws.com/designforresult/post-default-images/typeofhosting.png" alt="website hosting type")  
            p
              span.sblue 3) Up Time 
              | - Most web-hosting provider will guarantee you 99% uptime, but 1% of 365 days is 3 and half days of time.
              |     The 3 days might seem small but if you rely on your website to generate revenue, 3 days of down time can cost you a lot.
              |     Look for hosting provider who guarantee 99.9% uptown, the 0.9% uptime come at a higher upfront cost but it's worth it.
            p
              span.sblue 4) Bandwidth &amp; Speed 
              | - Some hosting provider will promise you unlimited Bandwidth, and in most cases unlimited Bandwidth is never really unlimited.
              |     Unlimited bandwidth usually comes with slow speed, and the speed of your site is a big ranking factor for Google. Look for a provider with reasonable Bandwidth for your traffic load.
            p
              span.sblue 5) Support 
              | - Good support is critical when it comes to hosting provider. Enough said.
          hr.divider2
          section
            h2 Step #18: Launch &amp; Promote your website. 
            p That's right you're not finish yet... Creating and launching a website is only the first step of your path to online success, now you must promote your site through digital marketing.
              | You can promote your site offline to friends, families, and current clients/customer.
              | Or you can try marketing your site online using ideas such as SEO, PPC, Social Media, etc&mldr;
            p The details of how to market your website is way beyond the scope of this plan. 
