extends ./layout

block content
  #thankyou.container
    h1 Thank You, You're All Done!
    .text-center
      i.fa.fa-smile-o
    
    span.subsubtitle We've reserved a spot for you on #{date} for #{time}. Please add a reminder on your calender and wait for our phone call.
      | Once again, to ensure the best experience; Write down your questions that you wanted to be answered ahead of time on a piece of paper.
    br
    span.subsubtitle Please also allow a 15 minute gap between the scheduled time and the time of the actual phone call, as we can get very busy.
      | Finally, we want to again ensure you that if you feel that we've wasted your time during the phone call at any moment, just tell us so and we will issue you a refund right away.
    br
    span.subsubtitle(style="color: red;") Important Notice: To avoid confusion the name of the company that will appear on your invoice is "Big Talk Consulting Group" as Designedforresult.com is owned a operated by it.
    br
    br
    br