extends ./layout

block content
  #thankyou.container
    h1 Thank You, You're All Done!
    .subsection
      p.text-center Your Order # is #{oNum}.
      .text-center
        i.fa.fa-smile-o
       
      a.btn.btn-download(href=url) Download Your Conversion Layouts

      p An email of your receipt has been sent to your mailing address. 
      p Please save this url should you need to access your download again:
      .text-center(style="padding: 10px 30px; background-color: #DEDEDE; color: #f16334; border-radius: 5px; margin: 10px 50px;") 
        | https://designedforresult.com/lp/thankyou/#{oNum} 
      p Should there be any issue please email as at 
        a(href="mailto:info@designedforresult.com") info@designedforresult.com
        |. Please remember you have 30 days, no question refund guarantee with us.
      p Thank You for puchasing the "Ultimate Conversion Layouts".
