/**
 * Author Designed For Result All Rights Reserved 
 */
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700,300);
@font-face {
  font-family: "Museo";
  src: url("../fonts/museo900.eot");
  src: url("../fonts/museo900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo900.woff") format("woff"), url("../fonts/museo900.ttf") format("truetype"), url("../fonts/museo900.svg#Museo") format("svg");
  font-weight: 900;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Museo";
    src: url("../fonts/museo900.svg#Museo") format("svg"); } }
button:focus {
  outline: none; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.plr-12 {
  padding-left: 12px;
  padding-right: 12px; }

.vertical-center {
  display: table;
  height: 100%;
  width: 100%; }

.vertical-center div {
  display: table-cell;
  vertical-align: middle; }

.wrapper_orange {
  position: relative;
  background-color: #f16334;
  min-height: 500px;
  padding: 80px 0; }

.wrapper_arrow:after, .wrapper_arrow:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.wrapper_arrow:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #FFF;
  border-width: 30px;
  margin-left: -30px; }

.wrapper_arrow:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #FFF;
  border-width: 36px;
  margin-left: -36px; }

hr.divider2 {
  background: transparent url("../images/fill_dot.png") repeat scroll 0% 0%;
  border: 0;
  height: 36px; }

.container.csm {
  width: 850px; }

.container800 {
  width: 800px;
  margin: auto; }

.btn-download {
  width: 100%;
  border: 2px solid #666;
  color: #666;
  font-size: 18px; }

.btn-download:hover {
  color: #f16334;
  border-color: #f16334; }

.btn {
  border: 1px solid;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-sizing: content-box;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  padding: 6px 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none; }
.btn.disable {
  opacity: 0.4; }

.btn-default {
  background: #fff;
  background: linear-gradient(to bottom, white 0, #f4f4f4 100%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$wild_sand',gradienttype=0 );
  border-color: #cccccc #c5c6c8 #b6b7b9;
  text-shadow: 0 1px 0 #fff;
  margin-right: 10px;
  color: #4e5665; }

.btn-save {
  background-color: #F66709;
  background: linear-gradient(to bottom, #F66709 0, #D65A06 100%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$wild_sand',gradienttype=0 );
  border-color: #D65A06 #D6773F #D6AB77;
  margin-right: 10px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }

.btn-group {
  padding: 5px 0;
  display: inline-block; }
.btn-group > .btn {
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 0; }
.btn-group > .btn:first-child:not(:last-child), .btn-group > .btn:first-of-type {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }
.btn-group > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 0; }
.btn-group > .btn:not(:first-of-type):not(:first-child):not(:last-child) {
  border-radius: 0;
  border-left: 0; }

.btn-verticle-group {
  display: inline-block; }
.btn-verticle-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-radius: 0; }
.btn-verticle-group > .btn:first-child:not(:last-child), .btn-verticle-group > .btn:first-of-type {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }
.btn-verticle-group > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top: 0; }
.btn-verticle-group > .btn:not(:first-of-type):not(:first-child):not(:last-child) {
  border-radius: 0;
  border-top: 0; }

.ccb label {
  cursor: pointer;
  font-size: 12px;
  color: #666;
  margin: 6px 0; }
.ccb label input + span.cb:before {
  margin-right: 12px;
  background-image: url(/images/icons/icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0px;
  content: '';
  display: inline-block;
  height: 16px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 16px; }
.ccb label input:checked + span.cb:before {
  background-position: -17px 0; }

.select {
  display: inline-block;
  position: relative;
  vertical-align: top; }
.select .btn {
  margin: 0;
  min-width: 60px; }
.select input[type='text'] {
  width: auto; }
.select.active .select-menu {
  visibility: visible; }
.select .select-menu {
  display: block;
  overflow-y: auto;
  visibility: collapse;
  position: absolute;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 0;
  margin-top: -1px;
  -webkit-background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 100; }
.select .select-menu li {
  cursor: pointer;
  list-style: none;
  padding: 4px 0 4px 16px;
  line-height: 22px;
  color: #141823; }
.select .select-menu li:hover, .select .select-menu li.selected {
  color: #FFF;
  background-color: #359DF5; }
.select i {
  margin-left: 10px;
  font-size: 14px; }

header a.btn:hover, header a.btn:focus, header a.btn.focus {
  background-color: #d15530 !important;
  color: #fff !important;
  text-decoration: none;
  outline: none !important; }

header .navbar {
  font-family: Oswald;
  margin-bottom: 0;
  background-color: #fcfcfc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
  border: none; }
header .navbar .logo {
  margin: 10px auto;
  display: block;
  padding: 0 50px;
  height: 40px; }
header .navbar .logo img {
  height: 100%; }
header a.btn-account {
  background-color: #f16334;
  color: #fff !important;
  border-radius: 2px;
  padding: 8px 15px !important;
  margin: 10px 0;
  font-weight: 300 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent; }
header .navbar-nav li a {
  color: #5a5959;
  font-size: 15px;
  font-weight: 500;
  padding: 20px 30px; }
header .navbar-nav li a:hover {
  background-color: #f6f6f6; }
header .navbar-nav li.active a {
  color: #78d6a5; }
header .navbar-nav li.active:after {
  content: ' ';
  height: 4px;
  display: block;
  width: 100%;
  background-color: #78d6a5;
  margin-top: -4px; }
header .navbar-toggle .icon-bar {
  background-color: #3c3b3b; }

#home {
  width: 100%;
  background-color: #f16334;
  padding-bottom: 290px; }
#home h1 {
  padding-top: 150px;
  text-align: center;
  font-family: Oswald;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 30px; }
#home .subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: block; }
#home .analyzer {
  width: 700px;
  margin: 40px auto; }
#home .analyzer form {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px; }
#home .analyzer form input {
  width: 70%;
  height: 100%;
  padding: 10px;
  border: none;
  font-size: 20px;
  color: #414541; }
#home .analyzer form input:focus {
  outline: none; }
#home .analyzer form button {
  width: 30%;
  font-size: 22px;
  position: relative;
  top: 1px;
  height: 100%;
  border: 2px solid #fff;
  color: #fff;
  font-family: Oswald;
  font-weight: 500;
  background-color: #03a47f; }
#home .analyzer form button:focus {
  outline: none; }
#home .analyzer form button:hover {
  color: #d4d4d4;
  background-color: #016a53; }
#home .tooltip {
  font-size: 20px; }
#home .tooltip .tooltip-inner {
  background-color: #2e2e33;
  max-width: 400px; }
#home .tooltip .tooltip-arrow {
  border-bottom-color: #2e2e33; }

#contact-form input, #contact-form select, #contact-form label {
  color: #313131;
  font-size: 22px;
  font-weight: normal;
  padding: 15px 10px;
  font-family: Oswald;
  margin-bottom: 15px; }

#contact h1 {
  font-family: Oswald;
  font-weight: 900;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff; }

#contact .success, #contact .failure, #report .profile_caption, #report .contact_wrapper h2 {
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom-color: transparent;
  cursor: default; }

#contact h2 {
  text-align: center;
  font-family: Oswald;
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 30px;
  color: #f16334; }
#contact .wrapper {
  padding-top: 80px; }
#contact .wrapper_arrow:after {
  border-top-color: #f16334; }
#contact .wrapper_arrow:before {
  border-top-color: #f16334; }
#contact .profile-image {
  width: block;
  width: 200px;
  margin: auto; }
#contact .profile-image img {
  width: 100%; }
#contact .profile_caption {
  color: #555;
  font-family: Oswald;
  text-align: center;
  display: block;
  font-size: 23px;
  margin-top: 30px; }
#contact h1 .lessstrong {
  font-weight: 300;
  color: #000;
  margin-top: 10px;
  display: block; }
#contact p.subtitle {
  text-align: center;
  font-family: Oswald;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  width: 900px;
  margin: 20px auto; }
#contact ul ol {
  width: 1000px;
  margin: 30px auto; }
#contact ul ol p {
  display: inline-block;
  color: #fff;
  font-family: Oswald;
  font-size: 23px;
  font-weight: 300;
  vertical-align: top;
  width: 90%; }
#contact ul ol span.circle_steps {
  display: inline-block;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  font-size: 23px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  font-family: arial; }

#contact-form {
  background-color: rgba(245, 245, 245, 0.68);
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
#contact-form input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #313131; }
#contact-form input:focus {
  outline: none; }
#contact-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50%;
  border: 1px solid #313131;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: transparent; }
#contact-form select:focus {
  outline: none; }
#contact-form ::-webkit-input-placeholder {
  color: #313131; }
#contact-form :-moz-placeholder {
  color: #313131; }
#contact-form ::-moz-placeholder {
  color: #313131; }
#contact-form :-ms-input-placeholder {
  color: #313131; }
#contact-form label {
  width: 50%;
  border-bottom: 1px solid #313131; }
#contact-form .btn-reserve {
  background-color: transparent;
  color: #313131;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border: 2px solid #313131;
  border-radius: 50px; }
#contact-form .btn-reserve:hover {
  background-color: #313131;
  color: #f16334; }
#contact-form .form-group {
  position: relative; }
#contact-form .form-group i {
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: 25px;
  color: #313131;
  cursor: pointer;
  pointer-events: none; }
#contact-form button:focus {
  outline: none; }

#blog {
  font-family: Lato, helvetica, arial, sans-serif;
  margin: 50px 0; }
#blog h1 {
  font-family: Oswald;
  font-weight: bold;
  font-size: 50px;
  padding: 0 15px;
  color: #3c3b3b; }
#blog p.subtitle {
  padding: 0 15px;
  color: #161819;
  font-size: 14px;
  font-family: Oswald;
  margin-bottom: 70px; }

.post-item-wrapper .post-item-image img {
  width: 100%; }
.post-item-wrapper .post-item-image a {
  display: block;
  width: 100%; }
.post-item-wrapper .post-item-title h2 {
  font-family: Oswald;
  color: #5d6769;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 0; }
.post-item-wrapper .post-item-title:hover {
  text-decoration: none; }
.post-item-wrapper .post-item-title:hover h2 {
  color: #f16334; }
.post-item-wrapper .post-meta {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px; }
.post-item-wrapper .post-item-excerpt {
  font-size: 16px; }
.post-item-wrapper .btn-more {
  margin-top: 10px;
  border: 2px solid #f16334;
  border-radius: 1px;
  color: #f16334;
  padding: 10px;
  font-size: 17px; }
.post-item-wrapper .btn-more:hover {
  border: 2px solid #cb552e;
  color: #cb552e; }

.post-category {
  font-size: 16px;
  font-weight: 600;
  color: #78d6a5; }

.pluginCountButton {
  color: #6a7180;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap; }

#single {
  font-family: Lato, helvetica, arial, sans-serif;
  font-weight: normal;
  color: #5d6769; }
#single pre {
  font-size: 14px;
  background-color: transparent;
  border: 0;
  border-left: 5px solid #149be0; }

.single-header {
  margin: 50px 0; }
.single-header .post-di {
  width: 100%; }
.single-header .follows {
  position: relative;
  top: -25px;
  right: 25px;
  float: right; }
.single-header .follows ul {
  list-style: none; }
.single-header .follows ul li {
  display: inline-block; }

.post-title {
  display: block;
  margin-bottom: 50px; }

.post-content {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px; }
.post-content .shareit {
  margin-bottom: 8px;
  display: block;
  widows: 100%;
  color: #a23eff;
  font-weight: 900; }
.post-content h2 {
  font-size: 25px;
  color: #3e413f;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: Oswald; }
.post-content li {
  margin-bottom: 10px; }
.post-content .thumb-wrapper {
  position: relative;
  cursor: pointer;
  display: block; }
.post-content .thumb-wrapper .overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }
.post-content .thumb-wrapper .overlay i {
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; }
.post-content .thumb-wrapper:hover .overlay i {
  animation-name: hvr-pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
.post-content img {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%; }
.post-content .sblue {
  font-weight: 900;
  color: #149be0; }
.post-content a {
  color: #5399f2; }

.optin-box {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 30px;
  padding: 20px; }
.optin-box .optin-title {
  font-size: 32px;
  line-height: 45px;
  font-family: Oswald;
  color: #f16334; }
.optin-box .optin-description {
  font-size: 18px;
  line-height: 25px;
  font-family: Oswald; }
.optin-box .optin-image img {
  border: 2px solid #353535;
  width: 100%; }

.btn-optin {
  display: block;
  width: 60%;
  margin: 15px auto;
  background-color: #f16334;
  color: #fff;
  font-weight: 300;
  font: 23px/32px Oswald;
  padding: 20px 15px;
  box-shadow: 0 -6px rgba(0, 0, 0, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 0 none;
  border-radius: 2px;
  text-shadow: 2px 1px 0 #cc3300; }
.btn-optin:hover {
  background-color: #ce562e;
  color: #fff; }

.post-meta .arthur {
  font-weight: 600;
  color: #78d6a5; }

.follows li a {
  color: #fff;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat; }
.follows li a i {
  font-size: 18px;
  line-height: 50px; }
.follows li.fb a {
  background-image: url(/images/icons/facebook.png); }
.follows li.tw a {
  background-image: url(/images/icons/twitter.png); }
.follows li.lk a {
  background-image: url(/images/icons/linkedin.png); }
.follows li.gp a {
  background-image: url(/images/icons/googleplus.png); }

.main-content-wrapper h1 {
  font-family: Oswald;
  color: #5d6769;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  color: #f16334; }

#login {
  font-family: 'Oswald';
  width: 400px;
  margin: 120px auto;
  color: #5a5959; }
#login h1 {
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }
#login .login-form {
  display: block; }
#login .login-form i {
  color: #337ab7;
  margin-right: 10px;
  font-size: 15px; }
#login .login-form label {
  font-weight: 500;
  font-size: 14px; }
#login .login-form input {
  padding: 8px 15px;
  width: 100%;
  font-size: 20px;
  border-radius: 3px;
  border: 2px solid #d9d7d5; }
#login .login-form input:focus {
  outline: none;
  border-color: #f16334; }
#login .login-form .btn-login {
  background-color: #f16334;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  padding: 8px 20px;
  width: 45%;
  margin: auto;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
#login .create-account {
  text-align: center; }
#login .create-account a {
  text-decoration: none;
  border-bottom: 2px solid #337ab7; }
#login .forgot-password {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 400; }
#login .error-box {
  background-color: #DEDEDE;
  margin-bottom: 17px;
  padding: 12px;
  border-radius: 2; }
#login .error-box i, #login .error-box p {
  display: inline-block;
  margin: 0; }
#login .error-box i {
  margin-right: 10px;
  color: #F40003; }

#comment-pop .btn-comment, #comments .btn-comment {
  background: #1cbf5b;
  background: linear-gradient(to bottom, #2bd184, #1cbf5b 100%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#2bd184', endcolorstr='#1cbf5b',gradienttype=0 );
  border: 1px solid;
  color: #fff;
  text-shadow: 0 1px 0 #66be93;
  border-color: #2bd184 #1cbf5b #1cbf5b; }

.comment-list .comment-wrapper {
  position: relative;
  border: 1px solid #dbe3e3;
  margin: 35px 0;
  padding: 20px;
  width: 100%; }
.comment-list li.item {
  list-style: none; }

.comment-avatar {
  display: inline-block;
  float: left;
  width: 10%;
  margin: 0 15px; }
.comment-avatar img {
  width: 100%;
  border-radius: 50%; }

.comment-body {
  display: inline-block;
  float: left;
  width: 75%; }
.comment-body header {
  display: block;
  width: 100%;
  margin-bottom: 15px; }
.comment-body .comment-content {
  display: block;
  width: 100%; }
.comment-body footer {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  color: #afafaf; }
.comment-body footer span {
  margin-right: 25px;
  cursor: pointer; }
.comment-body footer span:hover {
  color: #58e1a5; }
.comment-body footer i {
  font-size: 24px;
  margin-right: 8px; }
.comment-body span.comment-author {
  color: #78d6a5;
  font-weight: bold;
  font-size: 18px; }

.replies .comment .arrow-up {
  top: -31px;
  height: 40px;
  left: 30px;
  width: 40px;
  overflow: hidden;
  position: absolute; }
.replies .comment .arrow-up::after {
  bottom: -20px;
  box-shadow: 1px 1px 0 #dbe3e3;
  background-color: #fff;
  content: "";
  height: 40px;
  position: absolute;
  width: 40px;
  transform: rotate(-135deg); }
.replies .avatar img {
  width: 50px;
  border-radius: 25px; }

#comment-pop .modal-dialog {
  width: 800px; }
#comment-pop .btn-comment:hover {
  background-color: #4e8e6e; }
#comment-pop .modal-content {
  border-radius: 2px; }
#comment-pop .form-control {
  border-radius: 2px; }
#comment-pop .btn {
  border-radius: 2px;
  margin-right: 20px;
  font-size: 18px; }
#comment-pop .error {
  color: #e11400;
  display: none; }
#comment-pop .modal-body p.reply-title {
  font-size: 20px; }

#comments .btn-comment:hover {
  background-color: #4e8e6e; }
#comments .btn {
  border-radius: 2px; }

.post-comments-header span {
  font-size: 28px;
  line-height: 28px; }
.post-comments-header span.comment-count {
  font-size: 12px;
  margin-left: 10px;
  background-color: #f16334;
  border-radius: 10px;
  vertical-align: top;
  color: #fff;
  padding: 2px 6px; }

.post-comments-list ul {
  list-style: outside none none;
  padding: 0; }
.post-comments-list ul.replies {
  list-style: outside none none;
  padding: 0;
  margin-left: 40px; }

.comment-content p {
  word-wrap: break-word; }

.btn-comment.bottom {
  margin: auto;
  margin-bottom: 35px;
  display: block;
  width: 200px;
  font-size: 18px; }

/*Optin Popup*/
.presents span:before, .presents span:after {
  content: "";
  position: absolute;
  height: 12.5px;
  border-bottom: 2px solid #fff;
  top: 0;
  width: 10%; }

#poptin .modal-dialog {
  width: 940px; }
#poptin .modal-content {
  padding: 60px 82px;
  background-color: #383838;
  border-radius: 2px; }
#poptin .modal-content .close {
  position: absolute;
  right: -15px;
  top: -20px;
  background-color: transparent;
  background-image: url(/images/icons/twitter.png);
  cursor: pointer;
  opacity: 1;
  width: 40px;
  z-index: 100;
  height: 40px; }
#poptin .modal-body {
  padding: 0; }
#poptin .modal-content::after {
  position: absolute;
  content: "";
  width: 76px;
  height: 76px;
  background: #f16334 url(/images/icons/facebook.png) no-repeat scroll center center;
  background-size: 62px;
  bottom: -33px;
  left: 430px;
  border-radius: 100%;
  border: 6px solid #e2e3e5;
  box-sizing: border-box;
  box-shadow: 0 0 9px rgba(15, 16, 16, 0.4); }
#poptin .progress-bar {
  width: 100%;
  height: 26px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-sizing: border-box;
  border-radius: 3px; }
#poptin .progress-bar .bar {
  display: block;
  height: 100%;
  width: 50%;
  background-color: #2fe31b;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25); }
#poptin span.bar-text {
  text-align: center;
  margin: 3px auto;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 11px;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15), 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.25), -1px 0 0 rgba(255, 255, 255, 0.15), 0 0 1px rgba(255, 255, 255, 0.5); }
#poptin span.notice {
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 10px;
  font-weight: normal; }
#poptin hr {
  background-image: url(/images/icons/linkedin.png);
  width: 100%;
  height: 25px;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0; }
#poptin .optin-title {
  text-align: left;
  color: #f16334;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: Oswald;
  text-transform: uppercase; }
#poptin form {
  padding: 0 50px; }
#poptin form input {
  height: 40px; }
#poptin .optin-description {
  text-align: center;
  border-top: 2px dotted #fff;
  width: 95%;
  color: #fff;
  margin: auto;
  padding: 10px;
  font-size: 18px; }
#poptin .optin-buttons {
  margin-top: 20px; }
#poptin .step2 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
#poptin .step2 .optin-title {
  font-size: 22px;
  text-align: center;
  font-weight: 500; }
#poptin .step2 a {
  color: #fff; }
#poptin .optin-image img {
  width: 100%;
  border: 2px solid #fff; }

.presents {
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px; }
.presents span {
  display: inline-block;
  position: relative; }
.presents span:before {
  right: 100%;
  margin-right: 15px; }
.presents span:after {
  left: 100%;
  margin-left: 15px; }

.btn-poptin {
  color: #333;
  background: #73430f none repeat scroll 0 0;
  border: 0 none;
  outline: medium none;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font: 900 72px/87px Oswald, arial;
  text-align: center;
  border-radius: 3px;
  position: relative;
  transition: background-color 0.4s ease 0s;
  box-sizing: border-box; }
.btn-poptin span {
  text-transform: none;
  font: 300 18px/20px Oswald;
  display: block;
  text-align: center; }

.btn-yes {
  min-width: 360px;
  min-height: 166px;
  margin: 0 24px 0 0;
  background: transparent linear-gradient(to bottom, #f16334 0, #de5b33 50%, #d44811 52%, #cc4c14 100%) repeat scroll 0 0;
  box-shadow: 0 5px #913d20;
  padding: 30px 25px 25px; }
.btn-yes:hover {
  color: #fff;
  box-shadow: 0 7px #913d20;
  top: -2px; }
.btn-yes:active {
  background: transparent linear-gradient(to bottom, #f16334 0, #de5b33 50%, #d44811 52%, #cc4c14 100%) repeat scroll 0 0;
  box-shadow: 0 0 #913d20;
  top: 5px; }

.btn-no {
  min-width: 360px;
  min-height: 166px;
  margin: 0 0 0 24px;
  background: transparent linear-gradient(to bottom, #d4d3d3 0, #d4d3d3 50%, #c8c8c8 51%, #bdbdbd 100%) repeat scroll 0 0;
  box-shadow: 0 5px #8b8b8b;
  padding: 30px 25px 25px; }
.btn-no:hover {
  color: #fff;
  box-shadow: 0 7px #8b8b8b;
  top: -2px; }
.btn-no:active {
  background: transparent linear-gradient(to bottom, #d4d3d3 0, #d4d3d3 50%, #c8c8c8 51%, #bdbdbd 100%) repeat scroll 0 0;
  box-shadow: 0 0 #8b8b8b;
  top: 5px; }

.optin-title span {
  display: block;
  width: 100%;
  text-align: center; }
.optin-title span.l10 {
  font-size: 6.7em;
  line-height: 106px; }
.optin-title span.l15 {
  font-size: 4.6em;
  line-height: 65px; }
.optin-title span.l16 {
  font-size: 4.0em;
  line-height: 55px; }
.optin-title span.l18 {
  font-size: 3.9em;
  line-height: 55px; }
.optin-title span.l24 {
  font-size: 3em;
  line-height: 53px; }

#lp .optin-image img {
  width: 100%; }

#lp {
  font: 300 16px/20px 'Oswald';
  color: #454547; }

#lp h1 {
  font-size: 3.3em;
  font-weight: 900;
  color: #444444;
  text-transform: uppercase; }

#lp h2 {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.4em;
  margin-top: 0; }

#lp span.privacy {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #858585; }

#lp p {
  font-size: 1.1em;
  margin-bottom: 15px; }

#lp .jointhefamily {
  margin-bottom: 50px;
  font-weight: 300;
  color: #888888; }

#lp blockquote {
  text-align: center;
  font-size: 25px;
  line-height: 35px; }

#lp .profile-image img {
  width: 100%; }

#lp .btn-optin {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #E40B00;
  text-shadow: 2px 1px 0 #CC0F21; }

#lp .btn-optin:hover {
  background-color: #FF1421; }

#report .tooltip {
  font-size: 20px; }
#report .tooltip .tooltip-inner {
  background-color: #2e2e33;
  max-width: 400px; }

#report h1 {
  font-family: helvetica;
  font-weight: 900;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff; }

#report .nav-tabs > li.active > a, #report .nav-tabs > li.active > a:hover, #report .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom-color: transparent;
  cursor: default; }

#contact .success, #contact .failure, #report .profile_caption, #report .contact_wrapper h2 {
  color: #555;
  font-family: helvetica;
  text-align: center;
  display: block;
  margin-bottom: 60px; }

#report .success, #report .failure {
  font-family: helvetica;
  text-align: center;
  font-size: 25px;
  display: none;
  background-color: rgba(245, 245, 245, 0.68);
  padding: 20px;
  border-radius: 3px; }

#report .a-url {
  font-size: 19px;
  color: #454545; }
#report .report-title {
  border-top: 8px solid #fff;
  border-bottom: 3px solid #fff;
  color: #fff;
  padding: 15px 0;
  font-family: arial;
  font-weight: 600; }
#report .score {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 120px; }
#report .nav-tabs {
  border-bottom: 0; }
#report .nav-tabs > li {
  float: none;
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 0; }
#report .nav-tabs > li:last-child {
  margin-right: 0; }
#report .nav-tabs > li > a {
  margin-right: 0;
  line-height: inherit;
  border: 0;
  color: #fff;
  border-radius: 0; }
#report .nav-tabs > li > a:hover {
  background-color: transparent;
  color: #fff; }
#report .profile-image {
  width: block;
  width: 200px;
  margin: auto; }
#report .profile-image img {
  width: 100%; }
#report .profile_caption {
  font-size: 25px;
  text-align: left;
  font-weight: 300; }
#report .tab-content > .active {
  display: block;
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 20px;
  background-color: #fff; }
#report .tab-content ul {
  padding: 0; }
#report .tab-content ul li {
  list-style: none;
  font-size: 20px;
  font-family: helvetica;
  font-weight: 400; }
#report .tab-content ul li:before {
  content: '!';
  font-family: arial;
  font-size: 28px;
  font-weight: 900;
  margin-right: 10px; }
#report .contact_wrapper h2 {
  font-size: 50px; }

.speed-box {
  font-family: helvetica;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 200px; }
.speed-box.errors {
  background-color: #cc0000; }
.speed-box.warnings {
  background-color: #fdae01; }
.speed-box.passed {
  background-color: #5b8c04; }

.speed-box-title {
  display: block;
  font-size: 29px;
  padding: 10px 0;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.speed-box-number {
  display: block;
  font-size: 70px;
  font-weight: 900; }

.speed-box-detail {
  cursor: pointer;
  font-size: 11px; }

.site-image-wrapper {
  display: block;
  width: 100%;
  margin-top: 19px;
  height: 300px;
  background: url(../images/mac-laptop2.png) no-repeat;
  background-size: contain; }
.site-image-wrapper img {
  position: relative;
  top: 15px;
  left: 53px;
  width: 353px;
  height: 225px; }

.failure {
  color: #f80009; }

.a-url i {
  color: #fff; }

#errors ul li:before {
  color: #cc0000; }

#warnings ul li:before {
  color: #fdae01; }

#passed ul li:before {
  font-family: 'Oswald';
  content: "\e013" !important;
  font-size: 23px !important;
  color: #5b8c04; }

#report .tooltip {
  font-size: 20px; }
#report .tooltip .tooltip-inner {
  background-color: #2e2e33;
  max-width: 400px; }

#report h1 {
  font-family: helvetica;
  font-weight: 900;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
  color: #fff; }

#report .nav-tabs > li.active > a, #report .nav-tabs > li.active > a:hover, #report .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom-color: transparent;
  cursor: default; }

#contact .success, #contact .failure, #report .profile_caption, #report .contact_wrapper h2 {
  color: #555;
  font-family: helvetica;
  text-align: center;
  display: block;
  margin-bottom: 60px; }

#report .success, #report .failure {
  font-family: helvetica;
  text-align: center;
  font-size: 25px;
  display: none;
  background-color: rgba(245, 245, 245, 0.68);
  padding: 20px;
  border-radius: 3px; }

#report .a-url {
  font-size: 19px;
  color: #454545; }
#report .report-title {
  border-top: 8px solid #fff;
  border-bottom: 3px solid #fff;
  color: #fff;
  padding: 15px 0;
  font-family: arial;
  font-weight: 600; }
#report .score {
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 120px; }
#report .nav-tabs {
  border-bottom: 0; }
#report .nav-tabs > li {
  float: none;
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 0; }
#report .nav-tabs > li:last-child {
  margin-right: 0; }
#report .nav-tabs > li > a {
  margin-right: 0;
  line-height: inherit;
  border: 0;
  color: #fff;
  border-radius: 0; }
#report .nav-tabs > li > a:hover {
  background-color: transparent;
  color: #fff; }
#report .profile-image {
  width: block;
  width: 200px;
  margin: auto; }
#report .profile-image img {
  width: 100%; }
#report .profile_caption {
  font-size: 25px;
  text-align: left;
  font-weight: 300; }
#report .tab-content > .active {
  display: block;
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 20px;
  background-color: #fff; }
#report .tab-content ul {
  padding: 0; }
#report .tab-content ul li {
  list-style: none;
  font-size: 20px;
  font-family: helvetica;
  font-weight: 400; }
#report .tab-content ul li:before {
  content: '!';
  font-family: arial;
  font-size: 28px;
  font-weight: 900;
  margin-right: 10px; }
#report .contact_wrapper h2 {
  font-size: 50px; }

.speed-box {
  font-family: helvetica;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 200px; }
.speed-box.errors {
  background-color: #cc0000; }
.speed-box.warnings {
  background-color: #fdae01; }
.speed-box.passed {
  background-color: #5b8c04; }

.speed-box-title {
  display: block;
  font-size: 29px;
  padding: 10px 0;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.speed-box-number {
  display: block;
  font-size: 70px;
  font-weight: 900; }

.speed-box-detail {
  cursor: pointer;
  font-size: 11px; }

.site-image-wrapper {
  display: block;
  width: 100%;
  margin-top: 19px;
  height: 300px;
  background: url(../images/mac-laptop2.png) no-repeat;
  background-size: contain; }
.site-image-wrapper img {
  position: relative;
  top: 15px;
  left: 53px;
  width: 353px;
  height: 225px; }

.failure {
  color: #f80009; }

.a-url i {
  color: #fff; }

#errors ul li:before {
  color: #cc0000; }

#warnings ul li:before {
  color: #fdae01; }

#passed ul li:before {
  font-family: 'Oswald';
  content: "\e013" !important;
  font-size: 23px !important;
  color: #5b8c04; }

/*Social Share*/
.share-wrapper {
  position: absolute;
  font-size: 22px;
  color: white;
  padding-top: 5px;
  z-index: 1;
  font-weight: 700;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.fixed {
  visibility: visible;
  position: fixed;
  top: 163px !important;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.post-share li {
  cursor: pointer; }

#facebook .box {
  background-color: #435e9c; }

#facebook .box:hover {
  background-color: #304472; }

#twitter .box {
  background-color: #4bc6fd; }

#twitter .box:hover {
  background-color: #2E7FA3; }

#linkedin .box {
  background-color: #007bb6; }

#linkedin .box:hover {
  background-color: #004E73; }

#googleplus .box {
  background-color: #DC4748; }

#googleplus .box:hover {
  background-color: #DC4748; }

#social .box, #post-footer-share .box {
  width: 90px;
  display: block;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px 13px; }

#social a:hover, #post-footer-share a:hover {
  text-decoration: none; }

#post-footer-share .box {
  float: left;
  margin-right: 10px; }

#social .count, #post-footer-share .count {
  width: 30px; }

#social .social-icon, #post-footer-share .social-icon {
  width: 20px;
  margin-right: 5px; }

#social .box {
  padding-top: 10px;
  padding-bottom: 10px; }

#post-footer-share {
  margin: 20px 0; }

/*ThankYou*/
#thankyou {
  padding-top: 20px;
  font-family: 'Oswald'; }

#thankyou i {
  font-size: 250px;
  color: #555; }

#thankyou h1 {
  font-size: 60px;
  font-weight: 900;
  color: #f16334;
  text-align: center;
  margin: 20px 0; }

#thankyou .subsection {
  display: block;
  line-height: 35px;
  font-size: 22px;
  font-weight: 300; }

#thankyou span .stronger {
  font-weight: 700; }

#thankyou .btn-download {
  width: 60%;
  margin: 10px auto;
  display: block; }

#thankyou .tooltip {
  font-size: 14px; }

#thankyou .tooltip .tooltip-inner {
  background-color: #FA0606; }

#thankyou .tooltip .tooltip-arrow {
  border-bottom-color: #FA0606; }

#thankyou .success {
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  display: none;
  margin: 20px 0 50px 0; }

#thankyou .failure {
  color: #F80009;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  display: none; }

#legal {
  font-family: Oswald;
  color: #555;
  margin-bottom: 30px; }
#legal h1 {
  padding: 20px 10px;
  font-size: 45px;
  border-top: 12px solid #2b2b2b;
  border-bottom: 4px solid #2b2b2b;
  color: #2b2b2b;
  font-weight: 900;
  font-family: helvetica;
  margin-bottom: 30px; }
#legal section {
  padding: 0 10px; }
#legal h2 {
  font-size: 25px;
  color: #2b2b2b;
  font-weight: 600;
  margin-bottom: 20px; }
#legal p {
  line-height: 22px;
  font-size: 16px; }
#legal ul {
  padding: 0 20px; }
#legal ul li {
  font-size: 16px;
  margin-bottom: 15px; }
#legal ol {
  padding: 0 20px; }
#legal ol li {
  font-size: 16px;
  margin-bottom: 15px; }

#footer {
  background-color: #fff;
  border-top: 1px solid #e2e2e2;
  color: #5e5757;
  font-size: 1em;
  padding: 20px 0 80px; }
#footer a {
  color: #5e5757; }
#footer a:hover {
  text-decoration: none;
  color: #34f1c5; }
#footer .footer-logo {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Oswald;
  letter-spacing: 4px; }
#footer .footer-logo a {
  color: #f16334; }
#footer .footer-legal {
  display: inline-block;
  display: block;
  font-size: 14px;
  text-align: center; }
#footer ul {
  padding: 0;
  text-align: center; }
#footer ul li {
  list-style: none;
  display: inline-block; }
#footer ul.menu li:after {
  content: " ";
  padding: 0 10px; }
#footer ul.menu li:last-child:after {
  content: "";
  padding: 0; }
#footer .footer-social span {
  font-size: 1.2em;
  font-family: Oswald; }
#footer .footer-social ul {
  text-align: left; }
#footer .footer-social ul li {
  margin-right: 10px; }
#footer .footer-social ul li a:hover i {
  color: #34f1c5; }

/*# sourceMappingURL=main.css.map */
