//colors
$color_mystic_approx: #e9eaed;
$white: #fff;
$color_geyser_approx: #dcdee3;
$color_black_haze_approx: #f6f7f8;
$mercury: #e5e5e5;
$white_100: rgba(255,255,255,1);
$wild_sand_100: rgba(244,244,244,1);
$wild_sand: #f4f4f4;
$color_celeste_approx: #cccccc;
$color_pumice_approx: #c5c6c8;
$color_pink_swan_approx: #b6b7b9;
$color_scarpa_flow_approx: #4e5665;
$black_5: rgba(0, 0, 0, .05);
$color_outrageous_orange_approx: #f16334;
$color_flame_pea_approx: #de5d32;
$color_tuscany_approx: #bc4f2a;
$color_cumin_approx: #9a4123;
$black_20: rgba(0, 0, 0, .2);

//fonts
$font_0: helvetica;
$font_1: arial;
$font_2: sans-serif;

//other
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


#builder {
  background: $color_mystic_approx;
  font-family: $font_0, $font_1, $font_2;
  padding: 10px;
  z-index: 1;
  .block {
    display: block;
    @include border-radius(3px);
    background-color: $white;
    border: solid 1px $color_geyser_approx;
    header {
      background-color: $color_black_haze_approx;
      border-bottom: 1px solid $mercury;
      padding: 16px 12px;
    }
  }
  .page {
    width: 900px;
    min-height: 300px;
    margin: auto;
  }
  .question-list {
    width: 35%;
    min-height: 500px;
  }
  textarea {
    resize: none;
  }
  span {
    width: 100%;
  }
  input[type='radio'] {
    visibility: none;
    display: none;
  }
  input[type='checkbox'] {
    visibility: none;
    display: none;
  }

  .answer-types {
    margin: 10px 0;
    .sub-headline {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .btn-wg {
      display: inline-block;
    }
  }
  .btn-wg {
    background: $white;
    background: linear-gradient(to bottom, $white_100 0,$wild_sand_100 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$white', endcolorstr='$wild_sand',gradienttype=0 );
    border: 1px solid;
    border-color: $color_celeste_approx $color_pumice_approx $color_pink_swan_approx;
    color: $color_scarpa_flow_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 0 1px 0 $white;
    @include border-radius(3px);
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 1px $black_5;
    box-sizing: content-box;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
    padding: 6px 8px;
    &.selected {
      background: $color_outrageous_orange_approx;
      color: $white;
      border-color: $color_flame_pea_approx $color_tuscany_approx $color_cumin_approx;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 -1px 0 $black_20;
    }
  }
  .answers {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    .l-able {
      text-align: right;
      line-height: 39px;
      color: #666;
      font-weight: bold;
    }
    .answer {
      display: inline-block;
      margin: 5px 0;
      padding: 5px 10px;
      font-size: 14px;
      color: #646464;
      font-style: italic;
      margin-right: 5px;
      border: 1px solid $mercury;
      button.close {
        margin-left: 5px;
        font-size: 19px;
        &:focus {
          outline: none;
        }
      }
    }
    label {
      display: block;
      position: relative;
      cursor: pointer;
      .input-btn {
        border-left: 1px solid $mercury;
        padding: 2px 0;
        font-size: 12px;
        line-height: 15px; 
        cursor: pointer;
        text-align: center;
        display: inline-block;
        width: 20%;
        &:hover {
          color: #4F99D4;
        }
      }
    }
    input[type='text'] {
      border: 0;
      display: inline-block;
      width: 80%;
      &:focus {
        outline: none;
      }
    }
    label.hcb {
      cursor: pointer;
      font-size: 12px;
      color: #666;
      margin: 10px 0;
      input + span.cb{
        margin-right: 22px;
        &:before {   
          background-image: url(/images/icons.png);
          background-repeat: no-repeat;
          background-size: auto;
          background-position: 0 0px;
          content: '';
          display: inline-block;
          height: 16px;
          margin: 0 1px;
          position: relative;
          top: -1px;
          vertical-align: middle;
          width: 16px;
        }
      }

      input:checked + span.cb:before {
        background-position: -17px 0;
      }
    }
  }
}