@charset "utf-8";


/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Header 
 * 2.1 - Header Banner
 *
 *
 */


/* Global */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-center div {
  display: table-cell;
  vertical-align: middle;
}


.divider i {
  margin-right: 10px;
}

.divider i:last-child {
  margin-right: 0;
}


header .top-nav-contact a:hover,
.top-footer .contact-info a:hover,
header .nav li > a:hover,
header .nav li > a:focus,
header .nav li.active > a,
.bottom-footer a:hover {
  text-decoration: none;
}

.mtl {
  margin-top: 2.5em;
}

.mbl {
  margin-bottom: 2.5em;
}

/** 2.0 - Header **/
header .navbar {
  margin-bottom: 0;
  background-color: #f16334;
  border-radius: 0;
}

header .logo {
  margin-left: 20px;
}

header .navbar-nav li a {
  font-family: 'Oswald';
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

header .navbar-nav li a:hover {
  background-color: rgba(0,0,0, 0.2);
  color: #FFF;
}

header .navbar-nav li a.logo {
  padding: 0;
}
/*Home*/

#home {
  width: 100%;
  background-color: #f16334;
  height: calc(100vh - 180px);
}

#home .content {
  position: relative;
  vertical-align: middle;
  display: block;
}

#home h1 {
  padding-top: 150px;
  text-align: center;
  font-family: 'Museo';
  font-size: 50px;
  font-weight: 900;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 30px;
}

#home .subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: block;
}
#home .analyzer {
  width: 700px;
  margin: 50px auto;
}

#home form {
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255, 0.3);
  padding: 20px;

}

#home form input {
  width: 55%;
  height: 100%;
  padding: 24px;
  border: none;
  font-size: 20px;
  color: #414541;
}

#home form select {
  position: relative;
  top: 2px;
  width: 15%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0 20px 0 5px;
  margin: 0;
  border-radius: 0;
  color: #909090;
  height: 100%;
  font-size: 20px;
  padding: 10px;
  font-family: 'Oswald';
  overflow: hidden;
  background: #FFF url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 100% 50%;
}

#home form input:focus, 
#home form select:focus, 
#home form button:focus {
  outline: none;
}

#home form button {
  width: 30%;
  font-size: 22px;
  position: relative;
  top: 2px;
  height: 100%;
  border: 2px solid #FFf;
  color: #FFF;
  font-family: 'Oswald';
  font-weight: 500;
  background-color: #03A47F;
}

#home form button:hover {
  color: #D4D4D4;
  background-color: #016A53;
}
#home .tooltip {
  font-size: 20px;
}

#home .tooltip .tooltip-inner {
  background-color: #2E2E33;
}

#home .tooltip .tooltip-arrow {
  border-bottom-color: #2E2E33;
}

.analyzer p {
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  font-family: 'Oswald';
  letter-spacing: 2px;
}

#analyzer-wrap {
  background: #fff;
  position: relative;
  overflow: hidden;
  height: 25px;
  border: solid #fff 3px;
  border-radius: 15px;
}

#progressbar {
  background: #34F1C5;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

#analyzer-errors {
  font-size: 30px;
  font-size: 1.8rem;
  line-height: 1.066em;
  margin: 20px 0 0 0;
}


/*Footer*/

footer {
  background-color: #f16334;
  color: #5E5757;
  font-size: 17px;
  padding: 20px 0 80px 0;
}

footer a {
  color: #5E5757;
}

footer a:hover { 
  text-decoration: none;
  color: #34F1C5;
}

footer .footer-logo a { 
  color: #FFF;
}

footer .footer-logo a:hover {
  color: #FFF;
}

footer .footer-legal,
footer .footer-logo {
  display: inline-block;
}

footer .footer-logo {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Oswald';
  letter-spacing: 4px;
  border-right: 1px solid #5E5757; 
}

footer .footer-legal {
  padding-left: 20px;
}
footer ul {
  text-align: right;
}

footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

/*ThankYou*/

#thankyou {
  padding-top: 20px;
}

#thankyou.container {
  font-family: 'Oswald';
  width: 800px;
}

#thankyou h1 {
  font-size: 80px;
  font-weight: 900;
  color: #f16334;
  text-align: center;
  margin: 20px 0;
}

#thankyou .subtitle {
  font-family: 'Museo';
  display: block;
  text-align: center;
  font-size: 45px;
  line-height: 49px;
  font-weight: 600;
  color:  #34F1C5;
  margin-bottom: 20px;
}

#thankyou .subsubtitle {
  display: block;
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

#thankyou span .stronger {
  font-weight: 700;
}

.questionnaire-wrapper {
/*  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);*/
}

.questionnaire {
  padding: 20px;
  width: 100%;
  margin: auto;
  min-height: 400px;
  background-color: #fff;
  border: 1px solid #CECECE;
  border-radius: 2px;
  margin: 50px 0;
  position: relative;
}

.questionnaire:before, .questionnaire:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.questionnaire:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


.questionnaire p {
  font-size: 20px;
  margin-bottom: 20px;
}

.questionnaire p input,
.questionnaire p select {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0 10px;
  border-color: #000;
  height: 30px;
}

.questionnaire p input {
  width: 60%;
}
.questionnaire p .select-wrapper {
  border-bottom: 2px solid #000;
}

.questionnaire p select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0 20px 0 5px;
  margin: 0;
  overflow: hidden;
  background: transparent url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 100% 50%;
}

.questionnaire p select:focus {
  outline: none;
}

#thankyou .apply-submit {
  background: transparent url("../images/sales/applybutton.png") no-repeat 100% 50%;
  background-position: 100% 100%;
  height: 38px;
  width: 185px;
  border: 0;
  color: #FFF;
  font-size: 18px;
}

#thankyou .apply-submit:hover { 
  background-position: 100% 0%;
}

#thankyou .tooltip {
  font-size: 14px;
}

#thankyou .tooltip .tooltip-inner {
  background-color: #FA0606;
}

#thankyou .tooltip .tooltip-arrow {
  border-bottom-color: #FA0606;
}

#thankyou .success {
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  display: none;
  margin: 20px 0 50px 0;
}

#thankyou .failure {
  color: #F80009;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
  display: none;
}

@media(max-width:767px){

}

@media(min-width:768px){
 
}

@media(min-width:992px){

}

@media(min-width:1200px){

}
