
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public
  - option_name: NODE_ENV
    value: production  
  - option_name: MC_KEY
    value: production   
  - option_name: MC_ID
    value: 9f81cf88cc  
  - option_name: GM_PASS
    value: nning007  
  - option_name: STRIPE_KEY
    value: nning007
  - option_name: DATABASE_URL
    value: postgres://bigtalk007:nning007@aa1e0pi75oabie6.c0mahgkrkfss.us-east-1.rds.amazonaws.com:5432/dfr