extends ../layout
block css

block content
  
  post-dash(current-user="currentUser" pid="currentID" loaded="loaded")#post

    
block templates

  script(type='text/ng-template' id="PostDash")
    loader(name="Post Manager" ng-class="{loaded:loaded}")
    .post-dash(ng-class="{loaded:loaded}")
      .edit-post-wrapper.plr-12
        .post-content
          .box.full
            .box-header
              button.btn.btn-default() Publish Post
            .box-body
              .form-group
                .form-label.full Title
                .form-input.full
                  input(ng-model="post.title" required) 
              .form-group
                .form-label.full Content
                .form-input.full
                  ck-editor(ng-model='post.content' height="500" required)
              .form-group
                .form-label.full Excerpt
                .form-input.full
                  textarea(ng-model="post.excerpt")
        .post-status
          .box.full
            .box-header
              .box-title Post Details
            .box-body
              .form-group.display-image
                img(src="{{post.display_image}}")
                .form-input.full
                  input(ng-model="post.display_image")
              .form-group
                .form-label.full Author
                .form-input.full
                  input(ng-model="post.author")
              .form-group
                .form-label.full Status
                .form-input.full
                  select(ng-model="post.status" required)
                    option Unpublished
                    option Live
              .form-group
                .form-label.full URL
                .form-input.full
                  input(ng-model="post.url")              
              .form-group
                .form-label.full Publish Date
                .form-input.full
                  input(ng-model="post.posted_date")
          .box.full
            .box-body


block script
  script(src='/app/js/services/post.js')
  script(src='/app/js/directives/post.js')
  script(src='/app/js/controllers/post.js')
