extends ../layout
block css

block content
  post-dash(current-user="currentUser" loaded="loaded")#post

    
block templates
  script(type='text/ng-template' id="PostDash")
    loader(name="Post Manager" ng-class="{loaded:loaded}")
    .post-dash(ng-class="{loaded:loaded}")
      post-list(posts="posts" loaded="loaded")
      post-edit(posts="posts" loaded="loaded")

  script(type='text/ng-template' id="PostList")
    include ./_posts-list.jade
  script(type='text/ng-template' id="PostEdit")


block script
  script(src='/app/js/services/post.js')
  script(src='/app/js/directives/post.js')
  script(src='/app/js/controllers/post.js')