extends ./layout

block content
  .main-content(style="max-width: 600px;margin: auto;background-color: #FFF;border: 1px solid #e1e1e1;padding: 3.5%;color: #222;text-align: left;font: 13px Arial, Helvetica, sans-serif;line-height: 18px;")
    p Welcome to Designed For Result,

    p Before you can publish your first live Survey using our survey builder tool please confirm your email address using the link below.

    a(href="https://www.designedforresult.com/account/confirmation?key=" + otherProperty.user.activation_key) Confirm Now >
    
    p We'll be here to help you with any step along the way. You can find answers to most questions and get in touch with us at 
      a(href="https://www.designedforresult.com/support/")  Support
      | .

    p Hope you enjoy getting up and running. We're excited to see what comes next!
    
    p.sigunature Designed For Result Support
