.brand-header(style="max-width: 690px;margin: auto;margin-top: 5px;margin-bottom: 5px;")
  .logo(style="max-width: 50px;width: 50px; display: block;padding:5px 0;")
    img(src="https://www.designedforresult.com/images/logo-profile.png" style="width: 100%;")
