extends ./layout

block content
  .main-content(style="max-width: 600px;margin: auto;background-color: #FFF;border: 1px solid #e1e1e1;padding: 3.5%;color: #222;text-align: left;font: 13px Arial, Helvetica, sans-serif;line-height: 18px;")
    p Hello from Pug Squad,

    p You recently initiated a password reset for your account and was recieved by us on #{otherProperty.user.resetDate()}. 
      | To complete the process, click the link below.

    a(href="http://www.pugsquad.com/account/reset/password?token=" + otherProperty.user.temp_pass_token ) Reset Now >
    
    p This link will expire three hours after this email was sent.
    
    p If you didn’t make this request, it's likely that another user has entered your email address by mistake and your account is still secure. 
      | If you believe an unauthorized person has accessed your account, you can reset your password at 
      a(href="https://www.pugsquad.com/account/reset/password") My Account.
    
    p.sigunature Pug Squad Support
