header
  h1 How To Tell If A Website Is Right For Your Small Business
  h2.subtitle Follow a 5 Steps Question to Determine if a Website Will Benefit Your Business
section
  .row

    .ebook.col-sm-12
      img(src="../images/ebookcoverflat.png")
    #detail.description.col-sm-12
      span.title
          | Who is this for?
      p Chances are if you're reading this, then you're thinking about creating your own professional business website. This guide will help you get clear on whither you should spent your time and money on creating the website today.
      ol
        li 
          p A simple to follow guide to determine whither your small business needs a website or not in 10 minute or less.              
        li 
          p 5 Greate ways to use a website to benefit your business and your customer.
    
    #optin.optins.col-sm-12
      span.headline Get the Guide with your business email address
      form.form-horizonta(action='/subscribe' method='post') 
        button.privacy.pull-right(type='button' data-toggle="modal" data-target="#privacy") Privacy Policy
        .form-group.clearfix
          input#inputEmail3.form-control(type='text', name="name", placeholder='Name*')      
        .form-group
          input#inputPassword3.form-control(type='email', name="email", placeholder='Email*')  
        .form-group
          button.btn.btn-optin(type='submit') Get the Guide
      .lined
        div
        .lined-text OR
        div
      span.headline Get the Guide by sharing via twitter or facebook
      a.btn.btn-optin(href="http://www.paywithatweet.com/pay?id=bf68c09a-f9d9-40b9-8acd-d41f2fdf83cd" type='submit') Get it for a Share
      .privacy You will be able to customize the tweet before sending. 

