header
  h1 Professional Checklist to Website Development
  h2.lined.subtitle
    div
    .lined-text Create Website, Save Money, Save Time, and Expand your Business
    div
section
  .row
    .description.col-lg-4
      span.title
        | What is this checklist?
      p This checklist harness all our years of website development experiences into 22 simple points that anyone can follow to develop their website. 
      span.title
        | Who is this checklist for?
      p This checklist is for small and medium-sized business owners who wants to expand and take their current business online. This checklist is also for anyone who wants to in generally build a website but do not know where to start.
      ol
        li 
          span Save Your Time
          p Give this checklist to your team, or use the checklist yourself it will help you stay focus and save time.             
        li 
          span Save Your Money
          p Having a clear checklist on what needs to be accomplish will reduce development time and save you money.
        li 
          span Stay Clear and Reduce Stress
          p Most business owners simply don't have the time to worry and stress over website development, use this checklist to get start creating your website today.

    .ebook.col-lg-4
      img(src="images/ebookcover.png")
    .optins.col-lg-4
      span.headline Get the checklist with your business email address
      form.form-horizonta(action='/subscribe' method='post')  
        button.privacy.pull-right(type='button' data-toggle="modal" data-target="#privacy") Privacy Policy
        .form-group.clearfix
          input#inputEmail3.form-control(type='text', name="name", placeholder='Name*')      
        .form-group
          input#inputPassword3.form-control(type='email', name="email", placeholder='Email*')  
        .form-group
          button.btn.btn-optin(type='submit') Get the Checklist
      .lined
        div
        .lined-text OR
        div
      span.headline Get the checklist by sharing via twitter or facebook
      a.btn.btn-optin(href="http://www.paywithatweet.com/pay?id=c0b22f77-24df-445f-b957-14510f8aa155" ) Get it for a Share
      .privacy You will be able to customize the tweet before sending.