extends ../layout
block css

block content
  survey#survey
  script(type='text/ng-template' id="Survey")
    loader(name="Survey Manager" ng-class="{loaded:loaded}")
    {{qPangel}}
    .survey-builder
      survey-page(ng-repeat="page in survey.pages" page='page')

    .question-builder(ng-class="{active:openQuestion()}")

      .wrapper
        header
          p Add a Question
        .tse-scrollable.body-content
          .tse-content
            
            form#qbForm(ng-controller="QuestionBuilderController as qbCtrl")
              input(type='hidden', name='qestion[survey_page_id]' value=1)
              .question
                label Your Question
                textarea#QuestionEditor.form-control(type='text', name='question[question]', rows='2')
              .require.mb20
                .ccb
                  label(for="require")
                    input(type='checkbox' name='question[require]' id="require")
                    span.cb Question is Required
              .hint.mb20
                label A Supporting Hint (Optional)
                input.form-control(type='text', name='question[hint]', rows='1')
              .answer-types.mb20
                label Select Question Type
                div
                  input(ng-repeat-start="atypes in qbCtrl.answerTypes" ng-click='qbCtrl.updateAnswer()' ng-model='qbCtrl.answerType' type="radio" name="question[type]" id="{{atypes.id}}" value="{{atypes.value}}")
                  label(ng-repeat-end="" for="{{atypes.id}}" class="btn btn-default"){{atypes.name}}
              .answers(ng-include="'surveyAnswerFrag'")
        footer.submit-question
          .pull-right
            button.btn.btn-default Close
            button(type='button' form='qbForm').btn.btn-default Add Another
            button(type='button').btn.btn-default Save
          .clearfix
block templates
  script(type='text/ng-template' id="surveyARBox")
    .answer.fadeIn.animated
      input(type='text' name="{{name}}" value="{{value}}")
      button.close(type='button' ng-show="{{removeable}}" ng-click="removeitem()") &times;
      i.edit-answer.fa.fa-pencil
  script(type='text/ng-template' id="surveyPage")
    include ./survey-page.jade
  script(type='text/ng-template' id="surveyAnswerFrag")
    include ./answer-frag.jade    
  script(type='text/ng-template' id="surveyQuestion")
    include ./survey-question.jade

block script
  script(src='/js/a/controllers/survey.js')
  script(src='/js/a/directives/survey.js')
  script(src='/js/a/services/survey.js')
