.btn-group
  button.btn.btn-default
    i.fa.fa-desktop   
  button.btn.btn-default
    i.fa.fa-laptop
  button.btn.btn-default
    i.fa.fa-mobile
  input(placeholder="Enter Page Title" ng-model="pageCtrl.page.title").pti
  button.add-page.btn.btn-default(ng-click="pageCtrl.addPage($event)")
    | Add Page

.page.fadeIn.animated(ng-repeat="page in pages | orderBy: '+id'")
  .wrapper
    header.clearfix
      .page-title.pull-left {{page.title}}
      .page-options.pull-right
        button(ng-click="toggleQuestion({state: 'Open', id: page.id})").add-question Add Question
          i.fa.fa-angle-right        
        .remove-page(ng-click="removePage(page.id)")
          i.fa.fa-trash-o
        
    .page-body
      <question ng-repeat="q in page.questions" q='q' >