
extends ../layout
block css

block content
  .new-survey-wrapper(ng-controller="NewSurveyController as nsCtrl" ng-class="{selected:nsCtrl.selected()}")
    .box.box-lg
      .box-header
        .box-title What is the objective of your Survey?
      .box-body
        form(ng-submit="nsCtrl.createSurvey()" name="surveyForm" novalidate)
          ul.survey-objectives
            li
              input(type="radio" id="ob1" ng-model="nsCtrl.survey.objective" value="Avatar Discovery" required)
              label(for="ob1")
                | Discover your custom audiance avatar            
            li
              input(type="radio" id="ob2" ng-model="nsCtrl.survey.objective" value="Market Analyze" required)
              label(for="ob2")
                | Determine market size and competition        
            li
              input(type="radio" id="ob3" ng-model="nsCtrl.survey.objective" value="Product Discovery" required)
              label(for="ob3")
                | Discover new product or services             
            li
              input(type="radio" id="ob4" ng-model="nsCtrl.survey.objective" value="Customer Analyze" required)
              label(for="ob4")
                | Analyze and track customer insights             
            li
              input(type="radio" id="ob5" ng-model="nsCtrl.survey.objective" value="Customer Satisfaction" required)
              label(for="ob5")
                | Evaluate customer satisfaction              
            li
              input(type="radio" id="ob6" ng-model="nsCtrl.survey.objective" value="Brand Awareness" required)
              label(for="ob6")
                | Evaluate your brand awareness           
            li
              input(type="radio" id="ob7" ng-model="nsCtrl.survey.objective" value="Sales Force Effectiveness" required)
              label(for="ob7")
                | Evaluate your sales force effectiveness     
            li
              input(type="radio" id="ob8" ng-model="nsCtrl.survey.objective" value="Advertisement Effectiveness" required)
              label(for="ob8")
                | Evaluate your advertisement effectiveness       
            li
              input(type="radio" id="ob9" ng-model="nsCtrl.survey.objective" value="Employee Satisfaction" required)
              label(for="ob9")
                | Evaluate employee satisfaction               
            li
              input(type="radio" id="ob10" ng-model="nsCtrl.survey.objective" value="Marketing Efforts" required)
              label(for="ob10")
                | Gauge your marketing efforts                   
            li
              input(type="radio" id="ob11" ng-model="nsCtrl.survey.objective" value="Other" required)
              label(for="ob11")
                | Other    
          .s1x3
            .survey-name
              label Enter Survey Name
              input(ng-model="nsCtrl.survey.campaign_name" required)
            .survey-type
              p Choose how you would like your survey to be displayed.
              .type-group
                input(type="radio" id="t1" ng-model="nsCtrl.survey.type" value="Standard" required) 
                label(for="t1").btn.btn-default Standard
                  span Traditional long form survey with multiple questions and multiple pages.
              .type-group
                input(type="radio" id="t2" ng-model="nsCtrl.survey.type" value="Interactive" requireds)
                label(for="t2").btn.btn-default  Question By Question
                  span A more interactive survey that guides the user though the survey one question at a time.
              .survey-submit
                button(type="submit" ng-class="{disable:surveyForm.$invalid}").btn.btn-save Continue

block templates


block script
  script(src='/be/js/angular.sort.min.js')
  script(src='/be/js/services/survey.js')
  script(src='/be/js/directives/survey.js')
  script(src='/be/js/controllers/survey.js')