.question-wrapper.animated.fadeIn(ng-right-click="pgCtrl.openMenu($event, q, page)")
  .question(ng-bind-html="trustedQ")
  .hint
    {{q.hint}}
  .choice(ng-if="sqCtrl.isMultiChoice(q.type)")
    ul
      li(ng-repeat="a in q.answers track by $index")
        .checkbox(ng-if="q.multi_answers")
          input(type='checkbox' id="q{{q.id}}a{{$index}}")
          label(for="q{{q.id}}a{{$index}}") {{a.value}}    
        .radio(ng-if="!q.multi_answers")
          input(type='radio' name="q{{q.id}}a" id="q{{q.id}}a{{$index}}")
          label(for="q{{q.id}}a{{$index}}") {{a.value}}
  .choice(ng-if="sqCtrl.isShort(q.type)")
    input(type="text")  
  .choice(ng-if="sqCtrl.isLong(q.type)")
    textarea(type="text")  
  .choice(ng-if="sqCtrl.isDropdown(q.type)")
    .select
      select
        option(ng-repeat="a in q.answers track by $index")
          | {{a.value}}