

main.container
  section#comments.post-comments-wrapper.container800       
    .row.post-comments-header
      .col-lg-12
        span Comments
        span.comment-count #{post.comment_count || '0'}
        .pull-right.btn-default.btn.btn-comment Add Comment
    .row.post-comments-list
      .col-lg-12
        ul.comment-list.clearfix
          -if (comments);
            !{comments}
    - if (post.comment_count > 1)
      .bottom.btn.btn-default.btn-comment Add Comment


  #comment-pop.modal.fade
    .modal-dialog
      .modal-content

        .modal-body
          p.reply-title Tell us what you think...
          p.error Your comment didn't go through please try again.
          span.reply-placeholder.comment-list
          form#comment-form(action="/blog/comment" method="post")
            input(type="hidden" name="comments[post_id]" value="#{post.id}")
            input(type="hidden" name="comments[comment_type]" value="Master")

            .row
              .col-lg-6.col-sm-12.col-xs-12.form-group
                input.require-field.form-control(type='text', name='comments[author_name]', placeholder='Your Name' data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter your name.")
              .col-lg-6.col-sm-12.col-xs-12.form-group
                input.require-field.email.form-control(type='email', name='comments[author_email]', placeholder='Your Email' data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter your Email.")
            .form-group
              input.form-control(type='text', name='comments[author_url]', placeholder='Your Website')
            .form-group    
              textarea#CommentEditor.form-control(type='text', name='comments[content]', rows='3')
            .form-group
              button.btn.btn-comment(type='submit') Submit
              button.btn.btn-default(type='button', data-dismiss='modal', aria-label='Close') Cancel