extends ../layout
block css

block content
    main#login
      h1 Sign In

      - if (message != '')      
        .error-box
          i.fa.fa-exclamation-circle
          p= message
      .login-form      
        form(action='/login', method='post' novalidation)
          .form-group
            label Username
            input(type='text', name='username' autocorrect="off" autocapitalize="off" autofocus='autofocus')
          .form-group
            label Password
            input(type='password', name='password' )
            .forgot-password
              i.fa.fa-question-circle
              a(href="#") Forgot my Password
          .form-group
            button(type="submit").btn-login Sign In
      .create-account
        p Don't have an account? 
          a(href="#") Create an Account
     
block script