extends ../layout
block css

block content
   .text-danger
      - if (message)
        p= message
    main#login
      h1 Create Free Account
      .login-form      
        form(action='/login', method='post' novalidation)
          .form-group
            label Username
            input(type='text', name='username' autocorrect="off" autocapitalize="off" autofocus='autofocus')
          .form-group
            label Email
            input(type='email', name='email' autocorrect="off" autocapitalize="off" autofocus='autofocus')
          .form-group
            label Password
            input(type='password', name='password' )
            .forgot-password
              i.fa.fa-question-circle
              a(href="#") Forgot my Password
          .form-group
            button(type="submit").btn-login Create Free Account
      .create-account
        p Already have an account?
          a(href="#") Sign in
     
block script
