extends ../layout
block css

block content
   .text-danger
    main#register
      .box.center-block
        ul.notify-box.error
          - if (errors)
            each error in errors
              li
                i.fa.fa-exclamation-circle
                | #{error}
        .social-signup.text-center
          | Sign up with 
          a(href="/account/auth/facebook?code=#{code}" target="_blank") Facebook 
          | or 
          a(href="/account/auth/google?code=#{code}" target="_blank") Google
        .sign-or
          span or
          hr
        .local-signup.m-t
          form#validate(action='/account/register', method='post' novalidation)
            input(type='hidden' name="service" value="Survey")
            input(type='hidden' name="code" value="#{code}")
            .form-group.m-b
              input.require-field(type='text' placeholder="Choose your username" name='user[username]' autocorrect="off" autocapitalize="off" autofocus='autofocus')
              .error
                i.fa.fa-warning
            .form-group.m-b
              input.require-field.email(type='email' placeholder="Enter your email"  name='user[email]' autocorrect="off" autocapitalize="off" autofocus='autofocus')
              .error
                i.fa.fa-warning
            .form-group.m-b.password
              input.require-field.password(type='password' placeholder="Enter a password"  name='user[password]' )
              .error
                i.fa.fa-warning
              .password-validator
                .arrow
                .content
                  span.uppercase
                    i.fa.fa-exclamation-triangle
                    |  must contain at least one uppercase letter.
                  span.lowercase
                    i.fa.fa-exclamation-triangle
                    |  must contain at least one lowercase letter.
                  span.number
                    i.fa.fa-exclamation-triangle 
                    |  must contain at least one number.
                  span.length
                    i.fa.fa-exclamation-triangle 
                    |  must be atleast 6 characters.
            .form-group.m-b.subscription
              label(for="subscribe").ccb
                input(type="checkbox" id="subscribe" name="subscribe" checked)
                span.cb  I’d like to receive coupons and inspirations.
            .signup-legal.m-b
              | By signing up, I agree to Designed For Result's 
              a(href="/terms") Terms of Service
              | , 
              a(href="/privacy") Privacy Policy.
            .form-group
              button(type="submit").btn.btn-primary.btn-login Sign Up

        hr 
        .signup-footer     
          p Already have an account?  
            a(href="login") Log in
   
block script
