.account-details-wrapper.edit-wrapper(ng-class="{loaded:loaded}")
  .box.box-lg
    .box-header.white.clearfix()
      .box-title.pull-left 
        | Account Details
      .details-buttons.pull-right
        .btn-detail(ng-click="changeTab('Response')" ng-class="{active:isCurrentTab('Response')}")
          i.fa.fa-line-chart
          span.arrow        
        .btn-detail(ng-click="changeTab('Invite')" ng-class="{active:isCurrentTab('Invite')}")
          i.fa.fa-code      
          span.arrow      
        .btn-detail(ng-click="changeTab('Billing')" ng-class="{active:isCurrentTab('Billing')}")
          i.fa.fa-money
          span.arrow    
    .box-body.clearfix
      .account-responses.tab(ng-show="isCurrentTab('Response')")
        .elabel Available Responses:
        .evar {{service.options.available_responses}}         
        .elabel Lifetime Responses:
        .evar {{service.options.lifetime_reponses || 0}}           
        .elabel Free Responses Earned:
        .evar {{service.options.free_responses || 0}}
        .btn.btn-success(ng-click="openModal('Purchase Responses')") Purchase Responses         
        .btn.btn-default(ng-click="openModal('Coupon Code')") Use Code         
      .invite-code.tab(ng-show="isCurrentTab('Invite')")
        .elabel You Invite Code:
          span 
            i.fa.fa-info-circle(tool-tip="Simply tell them to use this 'Code' with their new account and they will recieve an additional 250 Responses For Free.\
               For every invite code that is used you'll also recieve 100 free responses for your survey.:top")
            |  Share this invite code with your friends to earn free Responses. 
            a(tool-tip="Simply tell them to use this 'Code' with their new account and they will recieve an additional 250 Responses For Free.\
               For every invite code that is used you'll also recieve 100 free responses for your survey.:left")
              | Learn More
        .evar.the-code {{service.invite_code}}   
        .elabel Accepted Invites:
        .evar {{service.options.accepted_invites || 0}}
        .btn.btn-default(ng-click="openInvite()") Invite Friends
        .btn.btn-default(ng-click="openModal('Invite Url')") Generate Invites Url
      .payment_method.tab(ng-show="isCurrentTab('Billing')")     
        .elabel Payment Method:
        .evar {{service.options.payment_method}}      
        .elabel Total Spending:
        .evar {{service.options.total_spending || 0 | currency : $}}

.account-modal.modal-box(ng-class="{open:modalStatus}")
  .box.zoomIn.animated
    .box-header
      .box-title {{currentModal}}
      button.close(ng-click="closeModal()")
        span(aria-hidden="true") &times;
        span.sr-only Close
    .box-body
      div(ng-if="isModal('Purchase Responses')")
        .response-packages
          .form-group
            .form-label Packages
            .form-label Package Details
          .package-wrapper
            .package-list
              .package(ng-repeat="package in packages" 
                ng-class="{active:isCurrentPackage(package)}"
                ng-click="switchPackage(package)")
                | {{package.responses | currency:'':0}}
            .package-details
              div
                span Responses:
                span {{currentPackage.responses | currency:'':0}}
              div
                span Price:
                span {{currentPackage.price | currency:$}}
              div
                span Price Per Response:
                span {{(currentPackage.price/currentPackage.responses) | currency:$:3}}
        payment_form(success="successPayment")
      div(ng-if="isModal('Coupon Code')").clearfix
        .form-group
          .form-label.full Enter Code
          .form-input.full
            input(type='text' ng-model="coupon")
            .error-coupon {{couponError}}
            
        .form-group
          button.btn.btn-save.pull-right(style="margin-right: 0;" ng-click="applyCoupon(coupon, $event)") 
            i.fa.fa-refresh.fa-pulse
            |  Apply
      div(ng-if="isModal('Invite Url')")
        code.the-code  
          | https://www.designedforresult.com/register?invite_code={{service.invite_code}}   
    .box-footer.clearfix(ng-if="isModal('Purchase Responses')")
      .pull-right
        .btn.btn-default(ng-click="closeModal()") Close
        button.btn.btn-save(type="submit" form="paymentForm") Continue

 