.account-details-wrapper.edit-wrapper(ng-class="{loaded:loaded}")
  .box.full
    .box-header.white.clearfix()
      .box-title.pull-left 
        | Account Details
      .details-buttons.pull-right
        .btn-detail(ng-click="changeTab('Response')" ng-class="{active:isCurrentTab('Response')}")
          i.fa.fa-line-chart
          span.arrow        
        .btn-detail(ng-click="changeTab('Invite')" ng-class="{active:isCurrentTab('Invite')}")
          i.fa.fa-code      
          span.arrow       
    .box-body.clearfix
      .account-responses.tab(ng-show="isCurrentTab('Response')")
        .elabel Available Responses:
        .evar {{service.options.available_responses}}         
        .elabel Lifetime Responses:
        .evar {{service.options.lifetime_reponses || 0}}           
        .elabel Free Responses Earned:
        .evar {{service.options.free_responses || 0}}   
        .refer-input         
          input(type='text' ng-model="coupon" placeholder="Enter Coupon")
          button.btn.btn-default(style="margin-right: 0;" ng-click="applyCoupon(coupon, $event)") 
            i.fa.fa-refresh.fa-pulse
            |  Apply           
          .error-coupon {{couponError}}
         
      .invite-code.tab(ng-show="isCurrentTab('Invite')")
        .elabel Don't leave your friends behind:
          span 
            i.fa.fa-info-circle(ng-click="openRefer()")
            |  Share this link with your friends to earn free responses. 
            a(ng-click="openRefer()") View Details
        .evar.refer-code 
          | https://www.pugsquad.com/register?ref={{service.ref_code}} 
        .elabel Friends Joined:
        .evar {{service.options.accepted_invites || 0}}
        .elabel Share your link the social way:
        .evar.refer-share
          a.ref_share_link(href="https://www.facebook.com/sharer/sharer.php?u=")
            i.fa.fa-facebook    
          a.ref_share_link(href="https://twitter.com/share?url=")
            i.fa.fa-twitter        
          a.ref_share_link(href="https://plus.google.com/share?url=")
            i.fa.fa-google-plus        
          a.ref_share_link(href="https://www.linkedin.com/shareArticle?mini=true&url=")
            i.fa.fa-linkedin        
          a(href="mailto:?subject=Try%20Pug%20Squad%20Free&body=Hey,%20%0A%0AYou%20can%20run%20free%20surveys%20using%20Pug%20Squad%20for%20your%20next%20marketing,%20or%20research%20project.%20%0AUse%20this%20link%20and%20get%20additional%20free%20survey%20responses%20credits.%20%0A%0Ahttps%3A//www.pugsquad.com/register?ref={{service.ref_code}}" ) 
            i.fa.fa-at

.refer-box.modal-box(ng-class="{open:referStatus}")
  .refer-wrapper.zoomIn.animated
    button.close(ng-click="closeRefer()")
      span(aria-hidden="true") &times;
      span.sr-only Close
    .refer-info
      span.subhead Don't Leave Your Friend Behind                    
      h1 Invite Friend &
        br
        | Earn Free Responses
      span.how-it-works Here is how it works...
      .details
        span Share your unique referal link via email, facebook,
          | twitter, linkedin, or Google plus and earn 50 free responses for 
          | each friend that signs up plus bonus for every milestone reached.

        .icon
          i.fa.fa-plus
        span Each friend that do signs up using your referal link will also earn 250 free responses(worth $10) as well and we all win.
      .refer-link
        | https://www.pugsquad.com/register?ref={{service.ref_code}}
      .refer-share
        a.ref_share_link(href="https://www.facebook.com/sharer/sharer.php?u=")
          i.fa.fa-facebook    
        a.ref_share_link(href="https://twitter.com/share?url=")
          i.fa.fa-twitter     
        a.ref_share_link(href="https://plus.google.com/share?url=")
          i.fa.fa-google-plus    
        a.ref_share_link(href="https://www.linkedin.com/shareArticle?mini=true&url=")
          i.fa.fa-linkedin   
        a(href="mailto:?subject=Try%20Pug%20Squad%20Free&body=Hey,%20%0A%You%20can%20run%20free%20surveys%20using%20Pug%20Squad%20for%20your%20next%20marketing,%20or%20research%20project.%20%0AUse%20this%20link%20and%20get%20additional%20free%20survey%20responses%20credits.%20%0A%0Ahttps%3A//www.pugsquad.com/register?ref={{service.ref_code}}" ) 
          i.fa.fa-at

    .refer-progress
      .progress-box
        span.callout MileStone Rewards

        ul.products.clearfix
          li.title
            p.friends Friends Joined
            p.rewards Responses Earned
          li.product(ng-repeat="reward in rewardLevels" 
            ng-class="{selected:isRewardLevel(reward.count)}")
            .circle {{reward.count}}
            .sep
            p {{reward.reward}} Bonus Responses          
      
        .progress(ng-class="currentLevel()")
          .mover
            .bar.clearfix
        p.progress-text(ng-if="!hasFriends()")
          span No 
          | friend have joined... Yet!
        p.progress-text(ng-if="hasFriends()")
          span {{service.options.accepted_invites}} 
          | friends saved!
        p.check Keep checking
