.account-details-wrapper.edit-wrapper(ng-class="{loaded:loaded}")
  .box.box-lg
    .box-header.white.clearfix()
      .box-title.pull-left 
        | Account Details
      .details-buttons.pull-right
        .btn-detail(ng-click="changeTab('Response')" ng-class="{active:isCurrentTab('Response')}")
          i.fa.fa-line-chart
          span.arrow        
        .btn-detail(ng-click="changeTab('Invite')" ng-class="{active:isCurrentTab('Invite')}")
          i.fa.fa-code      
          span.arrow      
        .btn-detail(ng-click="changeTab('Billing')" ng-class="{active:isCurrentTab('Billing')}")
          i.fa.fa-money
          span.arrow    
    .box-body.clearfix
      .account-responses.tab(ng-show="isCurrentTab('Response')")
        .elabel Available Responses:
        .evar {{service.options.available_responses}}         
        .elabel Lifetime Responses:
        .evar {{service.options.lifetime_reponses || 0}}           
        .elabel Free Responses Earned:
        .evar {{service.options.free_responses || 0}}
        .btn.btn-success(ng-click="openModal('Purchase Responses')") Purchase Responses         
        .btn.btn-default(ng-click="openModal('Coupon Code')") Use Code         
      .invite-code.tab(ng-show="isCurrentTab('Invite')")
        .elabel Don't leave your friends behind:
          span 
            i.fa.fa-info-circle
            |  Share this code with your friends to earn free responses. 
            a() View Details
        .evar.refer-code {{service.ref_code}}
          span.url https://www.pugsquad.com/register?ref={{service.ref_code}} 
        .elabel Friends Joined:
        .evar {{service.options.accepted_invites || 0}}
        .elabel Share your link the social way:
        .evar.refer-share
          a.ref_share_link(href="https://www.facebook.com/sharer/sharer.php?u=")
            i.fa.fa-facebook    
          a.ref_share_link(href="https://twitter.com/share?url=")
            i.fa.fa-twitter        
          a.ref_share_link(href="https://plus.google.com/share?url=")
            i.fa.fa-google-plus        
          a.ref_share_link(href="https://www.linkedin.com/shareArticle?mini=true&url=")
            i.fa.fa-linkedin        
          a(ng-click="openInvite()") 
            i.fa.fa-at
      .payment_method.tab(ng-show="isCurrentTab('Billing')")     
        .elabel Payment Method:
        .evar {{service.options.payment_method}}      
        .elabel Total Spending:
        .evar {{service.options.total_spending || 0 | currency : $}}


.refer-box.modal-box.open
  .refer-wrapper
    .refer-info
      span.subhead Don't Leave Your Friend Behind                    
      h1 Invite Friend &
        br
        | Earn Free Responses
      span.how-it-works Here is how it works...
      .details
        span Share your unique referal link via email, facebook,
          | twitter, linkedin, or Google plus and earn 50 free responses for 
          | each friend that signs up plus bonus for every milestone reached.

        .icon
          i.fa.fa-plus
        span Each friend that do signs up using your referal link will also earn 250 free responses(worth $10) as well and we all win.
      .refer-link
        | https://www.pugsquad.com/register?ref={{service.ref_code}}
      .refer-share
        a.ref_share_link(href="https://www.facebook.com/sharer/sharer.php?u=")
          i.fa.fa-facebook    
        a.ref_share_link(href="https://twitter.com/share?url=")
          i.fa.fa-twitter     
        a.ref_share_link(href="https://plus.google.com/share?url=")
          i.fa.fa-google-plus    
        a.ref_share_link(href="https://www.linkedin.com/shareArticle?mini=true&url=")
          i.fa.fa-linkedin   
        a(ng-click="openInvite()") 
          i.fa.fa-at

    .refer-progress
      .progress-box
        span.callout MileStone Rewards

        ul.products.clearfix
          li.title
            p.friends Friends Joined
            p.rewards Responses Earned
          li.product(ng-repeat="reward in rewardLevels" 
            ng-class="{selected:isRewardLevel(reward.level)}")
            .circle {{reward.count}}
            .sep
            p {{reward.reward}} Bonus Responses          
      
        .progress(ng-class="currentLevel()")
          .mover
            .bar.clearfix
        p.progress-text(ng-if="!hasFriends()")
          span No 
          | friend have joined... Yet!
        p.progress-text(ng-if="hasFriends()")
          span {{service.options.accepted_invites}} 
          | friends saved!
        p.check Keep checking
.account-modal.modal-box(ng-class="{open:modalStatus}")
  .box.zoomIn.animated
    .box-header
      .box-title {{currentModal}}
      button.close(ng-click="closeModal()")
        span(aria-hidden="true") &times;
        span.sr-only Close
    .box-body
      div(ng-if="isModal('Purchase Responses')")
        .response-packages
          .form-group
            .form-label Packages
            .form-label Package Details
          .package-wrapper
            .package-list
              .package(ng-repeat="package in packages" 
                ng-class="{active:isCurrentPackage(package)}"
                ng-click="switchPackage(package)")
                | {{package.responses | currency:'':0}}
            .package-details
              div
                span Responses:
                span {{currentPackage.responses | currency:'':0}}
              div
                span Price:
                span {{currentPackage.price | currency:$}}
              div
                span Price Per Response:
                span {{(currentPackage.price/currentPackage.responses) | currency:$:3}}
        payment_form(success="successPayment")
      div(ng-if="isModal('Coupon Code')").clearfix
        .form-group
          .form-label.full Enter Code
          .form-input.full
            input(type='text' ng-model="coupon")
            .error-coupon {{couponError}}
            
        .form-group
          button.btn.btn-save.pull-right(style="margin-right: 0;" ng-click="applyCoupon(coupon, $event)") 
            i.fa.fa-refresh.fa-pulse
            |  Apply
    .box-footer.clearfix(ng-if="isModal('Purchase Responses')")
      .pull-right
        .btn.btn-default(ng-click="closeModal()") Close
        button.btn.btn-save(type="submit" form="paymentForm") Continue

 