.publish-wrapper.modal-box.open
  .overlay
  .box.fadeIn.animated
    .box-header
      .box-title
        span(ng-if="errors") Please fix the following errors first!
        span(ng-if="!errors") Survey Successfully Published
      button.close(ng-click="close()")
        span(aria-hidden="true") &times;
        span.sr-only Close
    .box-body
      .publish-errors(ng-if="errors")
        span(ng-repeat="error in errors") 
          i.fa.fa-exclamation-triangle
          {{error}}
      div(ng-if="!errors")
        .form-group
          .form-label.full
            | Embed Survey On to Your Site.
          .form-description 
            i.fa.fa-exclamation-triangle
            |  Copy the code below and paste it between the <body> and </body> tags in your website code. 
            | The survey will be populated on your the page you paste the code in.
          .form-choice.full
            textarea(readyonly).iframe-code      
        .form-group
          .form-label.full
            | Unique Survey Url
          .form-description 
            i.fa.fa-exclamation-triangle
            |  Alternatively, if you do not operate a website or you do not know how to embed the survey on to your website. 
            | Simply use the Unique Survey Url below
          .form-choice.full
            input(type="text" readyonly value="https://www.designedforresult.com/s/{{survey.token}}")

