extends ../layout

block content
  #lp
    section(style="background-image: url('/images/bg.jpg');")
      .container
          h1.text-center Start Planning Your
            br
            | Website For 
            span(style="color: #f16334;") SUCCESS IN 30 MINUTES TODAY
          p.jointhefamily.text-center Join 
              span(style="font-size: 1.4em; color: #f16334;") 468 
              | Small Business Owners Today, and Plan your Awesome Website.
          .row
           
            - if (isMobile)
              include ./landing_mobile.jade
            - else
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .optin-image
                  img(src="https://s3.amazonaws.com/designforresult/post-default-images/planner_dl_op.png" alt="30 Minute Interactive website planner")
                
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                h2 Whither you're 
                  span(style="color: #f16334; font-weight: 500;") Designing or Redesigning 
                  | your website. Use this quick and easy to use professional website planner to 
                  span(style="color: #f16334;  font-weight: 500;") plan your exact route of attack.
                
                p.optin-description
                  i.fa.fa-check(style="color: green;")
                  |  Plan your website to ensure succcess in 30 minutes.                
                p.optin-description
                  i.fa.fa-check(style="color: green;")
                  |  Don't guess, 
                  u Know exactly what to put in each pages.          
                p.optin-description 
                  i.fa.fa-check(style="color: green;")
                  |  Save 
                  u Time and Money 
                  | on your development process. 
                p.optin-description 
                  i.fa.fa-check(style="color: green;")
                  |  No more rookie mistakes, Design effective website from the start.

                .btn.btn-optin.boptin
                  | Download This Planner
                span.privacy
                  |  We value your privacy and would never spam you
    section(style="border-top: 1px solid #DFDFDF; padding: 50px 0;")
      .container.csm
        .row
          .col-lg-12.col-xs-12.profile-image
             blockquote Designing or Redesigning your website can be a huge success – or it could fail miserably. The best way to ensure success is to plan your exact route of attack. 
          .col-lg-offset-3.col-lg-2.col-xs-4.col-sm-4
            .profile-image
              img(src="/images/profile.png")
          .col-lg-4.col-xs-8.col-sm-8
            span
              strong Steve
              br
              em Founder
              br
              em Designed For Result
           
  #poptin.modal.fade
    .modal-dialog
      .modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        .modal-body
          .step2
            .progress-bar
              span.bar-text 50% Completed
              .bar 

            span.notice
              | (enter your email address below and click the “Get Instant Access!” button)
            .optin-title
              | YES, I want FREE Website Planner!

            form#optin-form.optins.form-horizonta(action='/lp/subscribe' method='post')
              .form-group.clearfix
                input#inputEmail3.require-field.form-control(type='text', name="name", placeholder='Name*' data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter your name.")      
              .form-group
                input#inputPassword3.require-field.form-control(type='email', name="email", placeholder='Email*' data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter your email.")
              .form-group
                button.btn.btn-optin(type='submit') Get The Planner!
            p.privacy 
              i.fa.fa-lock
              |  We value your privacy and would never spam you
            p(style="font-size:12px;") By signing up you'll also receive access to the "Designed for Result" bi-weekly newsletter, exclusive offers, event information and helpful tips. View Designed for Result's 
              a(href="/privacy-policy") Privacy Policy 
