
.col-lg-6.col-md-6.col-sm-12.col-xs-12
  .optin-image
    img(src="https://s3.amazonaws.com/designforresult/post-default-images/planner_dl_op.png" alt="30 Minute Interactive website planner")
  
  .btn.btn-optin.boptin
    | Download This Planner
  span.privacy
    |  We value your privacy and would never spam you

  h2 Whither you're 
    span(style="color: #f16334; font-weight: 500;") Designing or Redesigning 
    | your website. Use this quick and easy to use professional website planner to 
    span(style="color: #f16334;  font-weight: 500;") plan your exact route of attack.
  
  p.optin-description
    i.fa.fa-check(style="color: green;")
    |  Plan your website to ensure succcess in 30 minutes.                
  p.optin-description
    i.fa.fa-check(style="color: green;")
    |  Don't guess, 
    u Know exactly what to put in each pages.          
  p.optin-description 
    i.fa.fa-check(style="color: green;")
    |  Save 
    u Time and Money 
    | on your development process. 
  p.optin-description 
    i.fa.fa-check(style="color: green;")
    |  No more rookie mistakes, Design effective website from the start.
