extends ../layout

block content
  #thankyou.container
    h1 Thank You! <br>

    span.subtitle But There is One More Thing We Need You To Do.
    
    span.subsubtitle Due to high demand, we are no longer offering our Custom Wireframe package to just anyone. Your 
      span.stronger Credit Card has not been charged yet, 
      | and will 
      span.stronger(style="color: #f16334;") ONLY be charged after 
      | your application has been approved by us.
      | So please take a minutes to fill out this short application below.

    .questionnaire-wrapper

      .questionnaire
        .failure
          | Uh oh, something unexpected happen. Please submit this application again.
        form#thankyouform(action="/wireframe/#{id}/done", method="post").clearfix
          p The company name is
            input.require-field(type="text" name="company_name" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter a company name.")
            |.       
          p I'm the
            input.require-field(type="text" name="position" placeholder="Owner" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="Enter a company owner name.")
            | of the company. 
          p We dominate in the 
            span.select-wrapper
              select(type="select" name="industry")
                option Accounting
                option Advertising
                option Airline
                option Automotive
                option Banking
                option Computer & Electronics
                option Cosmetics
                option Education
                option Entertainment
                option Health Care
                option Financial Services
                option Food, Resturant
                option Grocery
                option Internet Related
                option Legal
                option Manufacturing
                option Newspaper Publishers
                option Pharmaceuticals
                option Real Estate
                option Retail
                option Services
                option Software
                option Sports
                option Telecommunication
                option Television
                option Venture Capital
                option Other
            |  industry.
          p We have been in business for 
            span.select-wrapper
              select(type="select" name="year_business")
                option less than 1 year
                option 1 to 3 years
                option 3 to 5 years
                option 5 to 10 years
                option more than 10 years
            | .

          p We current
            span.select-wrapper
              select(type="select" name="website")
                option do not
                option do
            |  own a website.         
          p Having a website is
            span.select-wrapper
              select(type="select" name="website_importance")
                option not very important
                option somewhat important
                option(selected) extremely important
            |  to us.
          p We want to use the website for
            input.require-field(type="text" name="website_for" placeholder="playing gangnam style videos" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" title="What's the purpose of your website.")
            | .
          p We are
            span.select-wrapper
              select(type="select" name="customer")
                option actively
                option not actively
            |  looking for more customers.
          button.apply-submit.pull-right(type="submit") Submit Application



    .success
      | Great, your application will be reviewed by us within the next 24 hours. Please check the email you used during check out for an update of your application.